<script type="text/template" id="consumption_prepaid">

	<div id="wrapper" class="appsize">

		<div class="allcont logsize">

			<% include header %>

			<% include navmenu %>

			<% include tabs %>

			<div class="basicrow m-top">
				<div class="container">
					<div class="basicr-line-i">
						<div class="fulltitle m-top-i f-btitle autodef">
							<span class="icon-dash-18"></span> Mi Consumo
						</div>
					</div>
				</div>
			</div>

			<div class="basicrow mbott m-top-i">
				<div class="container">

					<div class="autowcont notopbrd list-subscriber">

						<% _.each(subscribers, function(subscriberObj, subscriberIndex) { %>

						<div data-toggle="collapse" data-target="#subscriber<%= subscriberIndex %>" class="digs-box vcenter select-subscriber" data-index="<%= subscriberIndex %>" data-subscriber="<%= subscriberObj.subscriberNumberField %>">
							<div class="tabcell">
								<div class="autorow pull-left">
									<span class="roboto-l"><%= typeOfTelephony(subscriberObj.productTypeField) %></span> <span class="roboto-m"><%= formatNumber(subscriberObj.subscriberNumberField) %></span>
								</div>

								<div class="autorow pull-right">
									<i class="fa fa-minus" aria-hidden="true"></i>

									<i class="fa fa-plus" aria-hidden="true"></i>
								</div>
							</div>
						</div>

						<div id="subscriber<%= subscriberIndex %>" class="collapse">

							<div class="basicrow tabtopb f-black roboto-r f-reg">
								<div class="basicrow m-bott-ii">
									<div class="row">
										<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 m-top-ii">
											<div class="boxtbl">
												<div class="basicrow m-sides">
													<div class="b-title noline">
														<div class="autocont f-black roboto-m f-bmed pull-left vcenter">
															<div class="tabcell">
																Consumo
															</div>
														</div>
													</div>
												</div>

												<div class="tab-tbar h-def-ii">
													<div class="frwds rline trds vcenter">
														<div class="tabcell">
															Minutos
														</div>
													</div>

													<div class="frwds rline-i trds vcenter">
														<div class="tabcell">
															SMS / MMS
														</div>
													</div>

													<div class="frwds trds hidden-xs">
														<div class="autocont full vcenter">
															<div class="tabcell">
																Datos
															</div>
														</div>
													</div>
												</div>

												<div class="basicrow">
													<div class="tab-cbar h-def-ii topgbrd">
														<div class="frwds trds rline vcenter">
															<div class="tabcell">
																<span class="roboto-b">Minutos Usados</span><br/>
																<span class="f-red f-big line-h-i roboto-b minutes">
																	0
																</span>
															</div>
														</div>

														<div class="frwds trds rline-i vcenter">
															<div class="tabcell">
																<span class="roboto-b">SMS / MMS Usados</span><br/>
																<span class="f-red f-big line-h-i roboto-b sms">
																	0
																</span>
															</div>
														</div>

														<div class="tab-tbar visible-xs">
															<div class="autocont full text-center vcenter">
																<div class="tabcell">
																	Datos
																</div>
															</div>
														</div>

														<div class="frwds trds fulltrd vcenter">
															<div class="tabcell">
																<span class="roboto-b">Consumo Total</span><br/>

																<span class="basicrow m-top-ii">
																	<span class="barlinedef">
																		<span class="compfill mb-perc" style="width: 0"></span>
																	</span>

																	<span class="basicrow f-mini f-black roboto-r text-right mb-text">
																		0.00 MB USADOS
																	</span>
																</span>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>

						</div>

						<% });  %>

					</div>

				</div>
			</div>

		</div>

		<% include footer %>

	</div>

</script>
