<script type="text/template" id="consumption">

    <link href="css/circle-big.css" rel="stylesheet">

	<div id="wrapper" class="appsize">

		<div class="allcont logsize">

			<% include header %>

			<% include navmenu %>

			<% include tabs %>

			<div class="basicrow m-top">
				<div class="container">
					<div class="basicr-line-i">
						<div class="fulltitle m-top-i f-btitle autodef">
							<span class="icon-dash-18"></span> Mi Consumo
						</div>

						<div class="nroacc">
							<label class="label-r sidenmbr vcenter">
									<span class="tabcell">
										N&uacute;mero de Cuenta
									</span>
							</label>

							<select class="sel-f sidesel" id="select-account">
								<% _.each(accounts, function(value, index) { %>
								<option value="<%= value.Account %>"  <%= value.Account==selectedAccount.Account?'selected="selected"':'' %> ><%= value.Account %></option>
								<% }); %>
							</select>
						</div>
					</div>
				</div>
			</div>

			<div class="basicrow mbott m-top-i">
				<div class="container">

					<% if (!dsl) { %>
					<div class="basicrow mbott">
						<div class="difftabs">
							<div id="details-data" class="difft-def half on">
								Datos
							</div>

							<div id="details-voz" class="difft-def half">
								Llamadas y Mensajes
							</div>
						</div>
					</div>
					<% } %>

					<div class="autowcont notopbrd m-top-ii list-data" style="display: none">

						<% _.each(subscribers, function(subscriber, subscriberIndex) { %>

						<div data-toggle="collapse" data-target="#data-phone<%= subscriberIndex %>" class="digs-box vcenter select-subscriber-data" data-index="<%= subscriberIndex %>" data-subscriber="<%= subscriber.subscriberNumberField %>">
							<div class="tabcell">
								<div class="autorow pull-left">
									<span class="roboto-l"><%= typeOfTelephony(subscriber.productTypeField) %></span> <span class="roboto-m"><%= formatSubscriber(subscriber.subscriberNumberField) %></span>
								</div>

								<div class="autorow pull-right">
									<i class="fa fa-minus" aria-hidden="true"></i>

									<i class="fa fa-plus" aria-hidden="true"></i>
								</div>
							</div>
						</div>

						<div id="data-phone<%= subscriberIndex %>" class="collapse">

							<div class="basicrow tabtopb f-black roboto-r f-reg">
								<div class="basicrow">
									<div class="basicrow">
										<div class="autocont f-black roboto-m f-bmed pull-left vcenter">
											<div class="tabcell">
												Ciclo de Facturaci&oacute;n
											</div>
										</div>

										<div class="autocont f-black roboto-m f-bmed othrdef pull-right vcenter">
											<div class="tabcell ciclo-fact">

											</div>
										</div>
									</div>

									<div class="basicrow m-top-ii">
										<div class="logline full"></div>
									</div>
								</div>

								<div class="basicrow m-top-i mbott">
									<div class="difftabs">
										<div class="difft-def thrds plan-basic on">
											Plan Base
										</div>

										<div class="difft-def thrds plan-roaming">
											Roaming
										</div>

										<div class="difft-def thrds plan-additional">
											Paquetes Adicionales
										</div>
									</div>
								</div>



								<div class="basicrow m-bott plan-basic-content">

								</div>

								<div class="basicrow m-bott plan-roaming-content" style="display: none">

								</div>

								<div class="basicrow m-bott plan-additional-content" style="display: none">

								</div>

								<div class="basicrow">
									<div class="logline full"></div>
								</div>

								<div class="basicrow m-top-i m-bott-ii">
									<div class="row">
										<div class="col-xs-12 col-sm-10 col-md-8 col-lg-6 col-lg-offset-3 col-md-offset-2 col-sm-offset-1">
											<div class="btns blue vcenter rippleB btn-add-packet">
												<span class="tabcell">
													Compra de Paquetes Adicionales&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i>
												</span>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<% }); %>

					</div>

					<div class="autowcont notopbrd m-top-ii list-voz" style="display: none;">

						<% _.each(subscribers, function(subscriber, subscriberIndex) { %>

						<div data-toggle="collapse" data-target="#voz-phone<%= subscriberIndex %>" class="digs-box vcenter select-subscriber-voz" data-index="<%= subscriberIndex %>" data-subscriber="<%= subscriber.subscriberNumberField %>">

							<div class="tabcell">
								<div class="autorow pull-left">
									<span class="roboto-l"><%= typeOfTelephony(subscriber.productTypeField) %></span> <span class="roboto-m"><%= formatSubscriber(subscriber.subscriberNumberField) %></span>
								</div>

								<div class="autorow pull-right">
									<i class="fa fa-minus" aria-hidden="true"></i>

									<i class="fa fa-plus" aria-hidden="true"></i>
								</div>
							</div>
						</div>

						<div id="voz-phone<%= subscriberIndex %>" class="collapse">
							<div class="basicrow tabtopb f-black roboto-r f-reg">
								<div class="basicrow">
									<div class="basicrow">
										<div class="autocont f-black roboto-m f-bmed pull-left vcenter">
											<div class="tabcell">
												Ciclo de Facturaci&oacute;n
											</div>
										</div>

										<div class="autocont f-black roboto-m f-bmed othrdef pull-right vcenter">
											<div class="tabcell ciclo-fact">

											</div>
										</div>
									</div>

									<div class="basicrow m-top-ii">
										<div class="logline full"></div>
									</div>
								</div>

								<div class="basicrow mbott">
									<div class="row">

										<% if (!dsl) { %>
										<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 m-top-i">
											<div class="boxtbl">
												<div class="basicrow m-sides">
													<div class="b-title noline">
														<div class="autocont f-black roboto-m f-bmed pull-left vcenter">
															<div class="tabcell">
																Consumo de Voz
															</div>
														</div>
													</div>
												</div>

												<div class="tab-tbar">
													<div class="frwds frths rline trds vcenter">
														<div class="tabcell">
															Consumo de Voz
														</div>
													</div>

													<div class="frwds frths rline trds vcenter">
														<div class="tabcell">
															Larga Distancia
														</div>
													</div>

													<div class="frwds frths trds vcenter">
														<div class="tabcell">
															Larga Distancia Internacional
														</div>
													</div>
												</div>

												<div class="basicrow">
													<div class="tab-cbar h-def-i topgbrd">

														<div class="frwds trds rline vcenter">
															<div class="tabcell">
																<span class="roboto-b">Minutos Usados</span><br/>
																<span class="f-red f-big line-h-i roboto-b minutes-used">
																	0
																</span>
															</div>
														</div>

														<div class="frwds trds rline vcenter">
															<div class="tabcell">
																<span class="roboto-b">Voz</span><br/>
																<span class="f-red f-big line-h-i roboto-b voz-used">
																	0
																</span>
															</div>
														</div>

														<div class="frwds trds vcenter">
															<div class="tabcell">
																<span class="roboto-b">Roaming Voz</span><br/>
																<span class="f-red f-big line-h-i roboto-b voz-international-used">
																	0
																</span>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>

										<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 m-top-i">
											<div class="boxtbl">
												<div class="basicrow m-sides">
													<div class="b-title noline">
														<div class="autocont f-black roboto-m f-bmed pull-left vcenter">
															<div class="tabcell">
																Consumo de Mensajer&iacute;a
															</div>
														</div>
													</div>
												</div>

												<div class="tab-tbar">
													<div class="frwds frths rline trds vcenter">
														<div class="tabcell">
															Consumo de SMS/MMS
														</div>
													</div>

													<div class="frwds frths rline trds vcenter">
														<div class="tabcell">
															SMS Premium
														</div>
													</div>

													<div class="frwds frths trds vcenter">
														<div class="tabcell">
															MMS
														</div>
													</div>
												</div>

												<div class="basicrow">
													<div class="tab-cbar h-def-i topgbrd">
														<div class="frwds trds rline vcenter">
															<div class="tabcell">
																<span class="roboto-b">Mensajes Usados</span><br/>
																<span class="f-red f-big line-h-i roboto-b sms-used">
																	0
																</span>
															</div>
														</div>

														<div class="frwds trds rline vcenter">
															<div class="tabcell">
																<span class="roboto-b">SMS</span><br/>
																<span class="f-red f-big line-h-i roboto-b sms-premium-used">
																	0
																</span>
															</div>
														</div>

														<div class="frwds trds vcenter">
															<div class="tabcell">
																<span class="roboto-b">MMS</span><br/>
																<span class="f-red f-big line-h-i roboto-b mms-used">
																	0
																</span>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>

										<% } else { %>

										<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 m-top-i">
											<div class="boxtbl">
												<div class="basicrow m-sides">
													<div class="b-title noline">
														<div class="autocont f-black roboto-m f-bmed pull-left vcenter">
															<div class="tabcell">
																Consumo de Voz
															</div>
														</div>
													</div>
												</div>

												<div class="tab-tbar">
													<div class="frwds frths rline vcenter" style="width: 100%">
														<div class="tabcell">
															Consumo de Voz
														</div>
													</div>
												</div>

												<div class="basicrow">
													<div class="tab-cbar h-def-i topgbrd">
														<div class="frwds frths rline vcenter"  style="width: 100%">
															<div class="tabcell">
																<span class="roboto-b">Minutos Usados</span><br/>
																<span class="f-red f-big line-h-i roboto-b minutes-used">
																	0
																</span>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>

										<% } %>

									</div>
								</div>

								<% if (!dsl) { %>
								<div class="basicrow">
									<div class="logline full"></div>
								</div>

								<div class="basicrow m-top-i m-bott-ii">
									<div class="row">
										<div class="col-xs-12 col-sm-10 col-md-8 col-lg-6 col-lg-offset-3 col-md-offset-2 col-sm-offset-1">
											<div class="btns blue vcenter rippleB btn-add-packet">
												<span class="tabcell">
													Compra de Data Adicional&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i>
												</span>
											</div>
										</div>
									</div>
								</div>
								<% } %>
							</div>
						</div>

						<% });  %>

					</div>

				</div>
			</div>


		</div>

		<% include footer %>

	</div>


</script>
