<script type="text/template" id="failure_report">

    <div id="wrapper" class="appsize">

        <div class="allcont logsize">

            <% include header_help %>

            <div class="basicrow m-top">
                <div class="container">
                    <div class="basicrow">
                        <div class="fulltitle m-top-i f-btitle autodef">
                            <span class="icon-dash-13"></span> Reportar Falla
                        </div>
                    </div>
                </div>
            </div>

            <div class="basicrow mbott m-top-ii">
                <div class="container">
                    <div class="autowcont allpads">
                        <div class="row allpads f-reg roboto-r f-black">
                            <div class="basicrow text-center m-top-u">
                                Por favor, elige la categor&iacute;a mas adecuada.
                            </div>

                            <div class="basicrow text-center m-top">
                                <div class="basicrow">
                                    <div class="text-left roboto-b">

                                        <div class="basicrow m-top">
                                            <input type="radio" name="failure_category" id="radio-choice-v-2a" value="C01">
                                            <label for="radio-choice-v-2a" class="roboto-b">
                                                &nbsp;La aplicaci&oacute;n no permite ingresar
                                            </label>
                                        </div>

                                        <div class="basicrow m-top">
                                            <input type="radio" name="failure_category" id="radio-choice-v-2b" value="C02">
                                            <label for="radio-choice-v-2b" class="roboto-b">
                                                &nbsp;La aplicaci&oacute;n no actualiza correctamente
                                            </label>
                                        </div>

                                        <div class="basicrow m-top">
                                            <input type="radio" name="failure_category" id="radio-choice-v-2c" value="C03">
                                            <label for="radio-choice-v-2c" class="roboto-b">
                                                &nbsp;La aplicaci&oacute;n no funciona en el tel&eacute;fono
                                            </label>
                                        </div>

                                        <div class="basicrow m-top">
                                            <input type="radio" name="failure_category" id="radio-choice-v-2d" value="C04">
                                            <label for="radio-choice-v-2d" class="roboto-b">
                                                &nbsp;La aplicaci&oacute;n se traba
                                            </label>
                                        </div>

                                        <div class="basicrow m-top">
                                            <input type="radio" name="failure_category" id="radio-choice-v-2e" value="C05">
                                            <label for="radio-choice-v-2e" class="roboto-b">
                                                &nbsp;La aplicaci&oacute;n cierra inesperadamente
                                            </label>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="basicrow m-top-i">
                                <div class="logline full"></div>
                            </div>

                            <div class="basicrow m-top-i text-left">
                                <div class="basicrow f-bmed roboto-b">
                                    Detalla tu Comentario
                                </div>

                                <% if (!isLogged) { %>

                                <div class="basicrow">
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 m-top">
                                            <input id="email" name="email" type="email" placeholder="Correo Electrónico" class="inp-f">
                                        </div>
                                    </div>
                                </div>

                                <% } %>

                                <div class="basicrow m-top-i">
                                    <textarea id="failure-comment" name="failure_comment" class="t-areadef" placeholder="Ingrese aqu&iacute; una breve explicaci&oacute;n de lo que desea reportar" maxlength="500"></textarea>
                                </div>
                            </div>

                            <div class="basicrow m-top-i">
                                <div class="logline full"></div>
                            </div>

                            <div class="basicrow m-top">
                                <div class="btns def-i red pull-right vcenter rippleR" id="send-failure">
									<span class="tabcell">
										Enviar&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i>
									</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</script>
