<script type="text/template" id="footer_rights">

	<div class="allfootcont">
		<div class="footcont">
			<div class="container vcenter">
				<div class="tabcell">
					<div class="autorow pull-left full-c">
						<img width="100%" class="footlogo" src="images/footlogo.png">Todos los derechos reservados, Claro 2018
					</div>

					<div class="autorow pull-right full-c">
						<a class="linkdefs" href="#">Legal y Regulatorio</a>
					</div>
				</div>
			</div>
		</div>
	</div>
    
</script>