<script type="text/template" id="gift_1gb">

	<div id="wrapper" class="appsize">

		<div class="popupbg" style="display: none">
			<div class="popupcont">
				<div class="basicrow f-black f-mildt roboto-m">
					T&eacute;rminos y Condiciones
				</div>

				<div class="basicrow m-top">
					<div class="termgbg">
						<div class="termr-t">
							• Al aceptar la compra del regalo, se le facturará al momento el precio del paquete adquirido según se indica y podrá verlo en su próxima factura; independientemente de que el receptor acepte o no acepte su regalo. No se aceptarán reclamaciones por regalos no aceptados.
							• El número de teléfono de la persona que recibirá el regalo deberá ser un número de telefonía móvil pospagado de Claro Puerto Rico exclusivamente.
							• No aplica a teléfonos fijos de Claro, clientes con servicio prepago de Claro, clientes de Claro con planes de servicio sin datos o celulares de otras compañías de teléfonos u otros países.
							• El recipiente del regalo recibirá un mensaje de texto y una notificación en su cuenta de MiClaro y tendrá 30 días a partir de la fecha en que usted compra el regalo.
							• Luego de transcurridos los 30 días, el link del mensaje de texto estará inválido y no podrá accederlo; tampoco podrá ver la notificación en su cuenta MiClaro.
							• Una vez el recipiente lo haya aceptado, el regalo estará activo en su cuenta 30 días calendario. Culmina una vez lo consuma totalmente o se cumpla el termino de 30 días, lo que ocurra primero.
							• El regalo de data podrá ser utilizado luego de que el cliente que recibe consuma su paquete de datos principal.
							• Si el cliente ha bloqueado voluntariamente el servicio de datos, el regalo será rechazado.
						</div>
					</div>
				</div>

				<div class="basicrow text-center m-top-i lessm">
					<div id="close-terms" class="btns def-i red centr vcenter rippleR">
						<span class="tabcell">
							Cerrar&nbsp;&nbsp;<i class="fa fa-times" aria-hidden="true"></i>
						</span>
					</div>
				</div>
			</div>
		</div>

		<div class="allcont logsize">

			<% include header %>

			<% include navmenu %>

			<% include tabs %>

			<div class="basicrow m-top">
				<div class="container">
					<div class="basicrow">
						<div class="fulltitle m-top-i f-btitle autodef">
							<span class="icon-dash-23"></span> Regala 1 GB a un Pospago
						</div>
					</div>
				</div>
			</div>

			<div class="basicrow m-top mbott-i">
				<div class="container">
					<div class="autowcont allpads">
						<div class="basicrow">
							<div class="row">
								<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
									<div class="basicrow hidden-xs">
										<img width="100%" src="images/regala1gbban.png">
									</div>

									<div class="regban-def visible-xs m-bott">
										<img width="100%" src="images/regala1gbbanv2.png">
									</div>
								</div>

								<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
									<div class="basicrow">
										<div class="row">
											<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
												<label class="label-f">N&uacute;mero de mi Amigo/a</label>

												<div class="basicrow rel">
													<img data-toggle="popover" data-html="true" data-content="El número a ingresar debe ser un número de telefonía móvil de Claro Puerto Rico, Postpago." data-placement="bottom" class="q-t" width="100%" src="images/tooltip1.png" data-original-title="" title="">

													<input id='textnum_amigo' type='number' placeholder='Ingrese el Numero' class="inp-f qt">
												</div>
											</div>
										</div>
									</div>
									<div class="basicrow m-top">
										<div class="row">
											<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
												<label class="label-f">Mensaje</label>

												<textarea id='text_mensaje' placeholder="Mensaje de m&aacute;ximo 200 caracteres" class="inp-f ta-reg"></textarea>
											</div>
										</div>
									</div>

									<div class="basicrow m-top">
										<input id="checkbox-terms" type="checkbox">
										<label for="checkbox-terms"> Acepto los </label>
										<a class="linkdefs link-terms">T&eacute;rminos y Condiciones&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i></a>
									</div> 

									<div class="basicrow m-top">
										<div class="row">
											<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
												<div class="basicrow rel">
													<div class="reg-txt">
														1GB
													</div>

													<input value="&#36;9.99" class="inp-f payup-i">

													<div id='btn-click' class="btns red payup-i vcenter rippleR">
														<span class="tabcell">
															Regalar&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i>
														</span>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="basicrow m-top">
							<div class="logline full"></div>
						</div>

						<div class="basicrow m-top text-center">
							<div id='return' class="btns gray def-i centr nevermtop vcenter">
								<span class="tabcell">
									Cancelar
								</span>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>

		<% include footer %>

	</div>
        
</script>