<script type="text/template" id="gift_recharge">

		<div id="wrapper" class="appsize">

			<div class="popupbg" style="display: none">
				<div class="popupcont">
					<div class="basicrow f-black f-mildt roboto-m">
						T&eacute;rminos y Condiciones
					</div>

					<div class="basicrow m-top">
						<div class="termgbg">
							<div class="termr-t">
								• Al aceptar la compra del regalo, se le facturará a su cuenta el total de la recarga adquirida según se indica y podrá verlo en su próxima factura.
								• El número de teléfono prepago de la persona que recibirá el regalo deberá ser un número de telefonía móvil prepago activo de Claro Puerto Rico exclusivamente.
								• El regalo no aplica a teléfonos fijos de Claro, teléfonos pospago de Claro o de otras compañías de teléfonos u otros países.
								• El cliente prepago recipiente del regalo verá reflejada la recarga el mismo día de la compra.
								• Aplican todos los Términos y Condiciones asociados a las recargas del servicio prepago para clientes a granel y de renta mensual, dependiendo el plan que tenga activo el cliente prepago al momento de recibir el regalo de la recarga.
							</div>
						</div>
					</div>

					<div class="basicrow text-center m-top-i lessm">
						<div id="close-terms" class="btns def-i red centr vcenter rippleR">
							<span class="tabcell">
								Cerrar&nbsp;&nbsp;<i class="fa fa-times" aria-hidden="true"></i>
							</span>
						</div>
					</div>
				</div>
			</div>

			<div class="allcont logsize">

				<% include header %>

				<% include navmenu %>

				<% include tabs %>

				<div class="basicrow m-top">
					<div class="container">
						<div class="basicrow">
							<div class="fulltitle m-top-i f-btitle autodef">
								<span class="icon-dash-10"></span> Regala una Recarga Prepago
							</div>
						</div>
					</div>
				</div>
				<div class="basicrow m-top mbott-i">
					<div class="container">
						<div class="autowcont allpads">
							<div class="basicrow">
								<div class="row">
									<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
										<div class="basicrow hidden-xs">
											<img width="100%" src="images/regalarecargaban.png">
										</div>

										<div class="regban-def visible-xs m-bott">
											<img width="100%" src="images/regalarecargabanv2.png">
										</div>
									</div>

									<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
										<div class="basicrow">
											<div class="row">
												<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
													<label class="label-f">N&uacute;mero de mi Amigo/a</label>

													<div class="basicrow rel">
														<img data-toggle="popover" data-html="true" data-content="El número a ingresar debe ser un número de telefonía móvil de Claro Puerto Rico, Prepago." data-placement="bottom" class="q-t" width="100%" src="images/tooltip1.png" data-original-title="" title="">

														<input id='textnum_amigo' type='number' placeholder='Ingrese el Numero' class="inp-f qt">
													</div>
												</div>
											</div>
										</div>

										<div class="basicrow m-top">
											<div class="row">
												<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
													<label class="label-f">Mensaje</label>

													<textarea id='text_mensaje' placeholder="Mensaje de m&aacute;ximo 200 caracteres" class="inp-f ta-reg"></textarea>
												</div>
											</div>
										</div>

										<div class="basicrow">

											<div class="recarga-opts">
												<input id='a' type="radio" name="recarga" value=10>

												&#36;10.00
											</div>

											<div class="recarga-opts">
												<input id='b' type="radio" name="recarga" value=12>

												&#36;12.00
											</div>

											<div class="recarga-opts">
												<input id='c' type="radio" name="recarga" value=20>

												&#36;20.00
											</div>

											<div class="recarga-opts">
												<input id='d'  type="radio" name="recarga" value=30>

												&#36;30.00
											</div>
										</div>

										<div class="basicrow m-top">
											<input id="checkbox-terms" type="checkbox">
											<label for="checkbox-terms"> Acepto los </label>
											<a class="linkdefs link-terms">T&eacute;rminos y Condiciones&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i></a>
										</div>
									</div>
								</div>
							</div>

							<div class="basicrow m-top">
								<div class="logline full"></div>
							</div>

							<div class="basicrow m-top text-center">
								<div id='btn-click'  class="btns red def-i pull-right vcenter rippleR">
									<span class="tabcell">
										Regalar&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i>
									</span>
								</div>

								<div id='return' class="btns gray def-i pull-left vcenter">
									<span class="tabcell">
										Cancelar
									</span>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>

			<% include footer %>

		</div>

</script>
        
