<script type="text/template" id="menu">

	<div id="wrapper" class="appsize">

		<div class="popupbg popup-1gb" style="display: none">
			<div class="reg-popcont">
				<div class="regredbar">
					<img width="100%" src="images/regala1gbbanv3.png">

					<div class="regpopmsg vcenter f-white roboto-r">
						<div class="tabcell">
							<span class="f-bigtitle roboto-b">
								USTED
							</span><br/>
							<span class="f-big">
								HA RECIBIDO UN REGALO DE DATA
							</span>
						</div>
					</div>
				</div>

				<div class="basicrow allpads roboto-r f-black f-med">
					<div class="basicrow m-top-iv m-bott-i text-center">
						<div class="basicrow roboto-m f-big sender-name">

						</div>

						<div class="basicrow f-bmed">
							Le ha enviado un regalo de 1GB de Data de regalo.
						</div>

						<div class="basicrow m-top-ii">
							<div class="logline full"></div>
						</div>

						<div class="basicrow m-top-ii sender-message">

						</div>

						<div class="basicrow m-top-ii">
							<div class="btns red def-i centr vcenter rippleR" id="close-1gb">
								<span class="tabcell">
									OK&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i>
								</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="stopfoot-i">

			<% include header %>

			<% include navmenu %>

			<div class="basicrow m-top-ii m-bott-i f-black f-lsemi roboto-l visible-sm visible-xs">
				<div class="container">
					Hola <%= name %>
				</div>
			</div>

			<% include tabs %>

			<% if (selectedAccount.postpago) { %>
				<% include dashboard_postpago %>
			<% } else if (selectedAccount.prepago) { %>
				<% include dashboard_prepago %>
			<% } else if (selectedAccount.telefonia) { %>
				<% include dashboard_telefonia %>
			<% } %>

			<% include dashboard_menu %>

		</div>

		<% include footer %>

	</div>

</script>
