<script type="text/template" id="my_services_fijo">

	<div id="wrapper" class="appsize">
		<div class="allcont logsize">

			<% include header %>

			<% include navmenu %>

			<div class="basicrow">
				<div class="acctypescont text-center">
					<div class="acctype on">
						<div class="autocont full vcenter">
							<div class="tabcell">
								<img width="100%" src="images/postpaid-icon.png"> Postpago
							</div>
						</div>
					</div>

					<div class="acctype">
						<div class="autocont full vcenter">
							<div class="tabcell">
								<img width="100%" src="images/prepaid-icon.png"> Prepago
							</div>
						</div>
					</div>

					<div class="acctype">
						<div class="autocont full vcenter">
							<div class="tabcell">
								<img width="100%" src="images/fixedphone-icon.png"> Telefon&iacute;a Fija
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="basicrow m-top">
				<div class="container">
					<div class="basicr-line-i">
						<div class="fulltitle m-top-i f-btitle autodef">
							<span class="icon-dash-25"></span> Mis Servicios
						</div>

						<div class="nroacc">
							<label class="label-r sidenmbr vcenter">
									<span class="tabcell">
										N&uacute;mero de Cuenta
									</span>
							</label>

							<select class="sel-f sidesel">
								<option>1727704700</option>
							</select>
						</div>
					</div>
				</div>
			</div>

			<div class="basicrow mbott m-top-ii">
				<div class="container">
					<div class="autowcont notopbrd m-top-ii">
						<div data-toggle="collapse" data-target="#mserv1" class="digs-box vcenter">
							<div class="tabcell">
								<div class="autorow pull-left">
									<span class="roboto-l">FIJO</span> <span class="roboto-m">(787) 123-0000</span>
								</div>

								<div class="autorow pull-right">
									<i class="fa fa-minus" aria-hidden="true"></i>

									<i class="fa fa-plus" aria-hidden="true"></i>
								</div>
							</div>
						</div>

						<div id="mserv1" class="collapse">
							<div class="subgtitle">
								<span class="roboto-b">Plan Local: INT 2M - ILIMITADO PR</span>
							</div>

							<div class="basicrow tabtopb-i f-black roboto-r f-reg">
								<div class="basicrow m-top-u">
									<div class="balancesptr-ii fortimes text-center">
											<span class="roboto-b">
												Fecha de Contrato
											</span><br/>

										<span class="f-black f-big roboto-b">
												09/27/2017
											</span>
									</div>

									<div class="balancesptr-ii fortimes h-nobrd-i text-center">
											<span class="roboto-b">
												Su contrato termina
											</span><br/>

										<span class="f-black f-big roboto-b">
												20/27/2017
											</span>
									</div>

									<div class="basicrow visible-sm m-bott">
										<div class="logline full"></div>
									</div>


									<div class="balancesptr-ii fortimes text-center">
											<span class="roboto-b">
												Meses de Contrato
											</span><br/>

										<span class="f-black f-big roboto-b">
												0
											</span>
									</div>

									<div class="balancesptr-ii fortimes no-brd text-center">
											<span class="roboto-b">
												Renta Mensual
											</span><br/>

										<span class="f-red f-lsemi roboto-b">
												&#36;18.68
											</span>
									</div>
								</div>

								<div class="basicrow">
									<div class="logline full"></div>
								</div>

								<div class="basicrow m-top-u">
									<div class="row">
										<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 col-lg-offset-2 col-md-offset-2">
											<div class="basicrow">
												<div class="row">
													<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 m-top-ii">
														<a href="#" class="btns red vcenter">
																<span class="tabcell">
																	Reportar Aver&iacute;a
																</span>
														</a>
													</div>

													<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 m-top-ii">
														<a href="#" class="btns blue vcenter">
																<span class="tabcell">
																	Cambio de Plan
																</span>
														</a>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>

		<% include footer_rights %>

	</div>

</script>
