<script type="text/template" id="netflix_redirect">

	<div id="wrapper" class="appsize">

		<div class="popupbg" style="display: none">
			<div class="popupcont">
				<div class="basicrow f-black f-mildt roboto-m">
					T&eacute;rminos y Condiciones
				</div>

				<div class="basicrow m-top">
					<div class="termgbg">
						<div class="termr-t">
							Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.<br/> <br/>


							Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.<br/> <br/>

							Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
						</div>
					</div>
				</div>

				<div class="basicrow text-center m-top-i lessm">
					<div id="close-terms" class="btns def-i red centr vcenter rippleR">
						<span class="tabcell">
							Cerrar&nbsp;&nbsp;<i class="fa fa-times" aria-hidden="true"></i>
						</span>
					</div>
				</div>
			</div>
		</div>

		<div class="allcont logsize">

			<% include header %>

			<% include navmenu %>

			<div class="basicrow m-top mbott">
				<div class="container">
					<div class="basicr-line-i">
						<div class="fulltitle m-top-i f-btitle autodef">
							<span class="icon-dash-27"></span> Suscripci&oacute;n a Netflix
						</div>
					</div>

					<div class="basicrow mbott m-top-i">

						<div class="basicrow">

							<div class="basicrow f-reg f-black roboto-r text-justify">
								Serás redirigido al portal de netflix donde debes completar la suscripción de <span class="roboto-b">Servicios Netflix.</span>
							</div>

							<div class="basicrow m-top-i">
								<div class="logline full"></div>
							</div>

							<div class="basicrow text-center m-top">
								<input id="checkbox-terms" type="checkbox">
								<label for="checkbox-terms"> Acepto los </label>
								<a class="linkdefs link-terms">
									T&eacute;rminos y Condiciones&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i>
								</a>
							</div>

							<div class="basicrow text-center m-top">
								<div class="btns def-i red pull-right vcenter rippleR" id="next">
									<span class="tabcell">
										Continuar&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i>
									</span>
								</div>
							</div>
						</div>

					</div>

				</div>
			</div>

		</div>

		<% include footer %>

	</div>

</script>
