<script type="text/template" id="netflix_terms">

	<div id="wrapper" class="appsize">

		<div class="allcont logsize">

			<% include header %>

			<% include navmenu %>

			<div class="basicrow">
				<div class="basicrow">
					<div class="container">
						<div class="fulltitle m-top-i f-btitle">
							<span class="icon-dash-01"></span> Términos y Condiciones Netflix
						</div>
					</div>
				</div>

				<div class="basicrow roboto-r f-reg f-black m-top m-bott">
					<div class="container">
						<div class="basicrow">
							<div data-toggle="collapse" data-target="#preg1" class="preg-f">
								1. Suscripción a Netflix

								<i class="fa fa-plus" aria-hidden="true"></i>

								<i class="fa fa-minus" aria-hidden="true"></i>
							</div>

							<div id="preg1" class="collapse">
								<div class="basicrow allpads bordsdef text-justify text-terms">
									1.1. Para suscribirse al servicio de NETFLIX, el cliente debe:
									1.1.1. Ser el titular de la cuenta.
									1.1.2. Estar suscrito en Mi Claro.
									1.1.3. Auto gestionar la suscripción a Netflix por medio de Mi Claro.
									1.1.4. Cumplir con los requisitos de elegibilidad para este servicio:
									1.1.4.1. La cuenta no puede estar suspendida, con balances en atrasos o cancelada.
									1.1.4.2. El cliente no puede tener cuentas activas con Netflix.
									1.1.4.3. No serán elegibles las siguientes cuentas: pre pagado BYOP/Prepago, gobierno, negocios, entre otras.
									1.1.5. Aceptar los términos y condiciones del servicio de Netflix presentados en Mi Claro.
									1.1.6. Completar la suscripción en el portal de Netflix, seleccionar el plan de preferencia y aceptar sus términos y condiciones.
									1.2. El cliente no debe cerrar la pantalla del portal de Netflix hasta que haya finalizado el proceso de suscripción para asegurar que se haya completado con éxito. De lo contrario, la suscripción se verá afectada.
									1.3. Por medio de la suscripción al servicio de Netflix por Mi Claro, el cliente acepta y autoriza a CLARO a facturar el cargo del monto del plan seleccionado.
									1.4. El cliente comenzará a disfrutar el de Netflix una vez culmine el proceso de suscripción.
								</div>
							</div>
						</div>

						<div class="basicrow m-top">
							<div data-toggle="collapse" data-target="#preg2" class="preg-f">
								2. Cuentas con clasificación “credit limit”

								<i class="fa fa-plus" aria-hidden="true"></i>

								<i class="fa fa-minus" aria-hidden="true"></i>
							</div>

							<div id="preg2" class="collapse">
								<div class="basicrow allpads bordsdef text-justify text-terms">
									2.1. El límite de crédito puede variar por cuenta, según la clasificación crediticia del cliente o el historial de pagos en CLARO.
									2.2. Cliente credit limit acepta y entiende que el cargo del plan seleccionado con Netflix será considerado como parte de su monto de factura mensual y podría afectar su servicio con CLARO, de alcanzar su límite de crédito.
									2.3. El cliente entiende y reconoce que cambios de planes, añadir servicios de valor agregados que con lleven cargos mensuales en su factura podría ocasionar que alcance su límite de crédito, lo cual afectaría su servicio con CLARO.
									2.4. El límite de crédito se establece por número de cuenta y no por suscriptor (número de teléfono).
									2.5. Al momento de la suscripción, se validará que el cliente tenga un monto de $25.00 o más disponible en la cuenta.
									2.5.1. Ejemplo: Si su límite de crédito es $100.00 y, al momento de la suscripción, ha consumido $92.00 no será elegible para el servicio de Netflix con factura en CLARO ya que su crédito disponible es $8.00.
								</div>
							</div>
						</div>

						<div class="basicrow m-top">
							<div data-toggle="collapse" data-target="#preg3" class="preg-f">
								3. Membresía de Netflix

								<i class="fa fa-plus" aria-hidden="true"></i>

								<i class="fa fa-minus" aria-hidden="true"></i>
							</div>

							<div id="preg3" class="collapse">
								<div class="basicrow allpads bordsdef text-justify text-terms">
									3.1. La membresía de Netflix se renovará mes a mes de manera automática hasta que el cliente la cancele.
									3.2. Netflix ofrece una variedad de planes de membresía, incluidos planes con promociones especiales por medio de otras compañías. CLARO no es responsable por los planes y promociones ofrecidos por NETFLIX ni por otras compañías.
									3.3. Para conocer los detalles específicos de su membresía con Netflix, el cliente debe visitar el sitio web de Netflix y acceder a su cuenta.
								</div>
							</div>
						</div>

						<div class="basicrow m-top">
							<div data-toggle="collapse" data-target="#preg4" class="preg-f">
								4. Mes de prueba de Netflix gratis

								<i class="fa fa-plus" aria-hidden="true"></i>

								<i class="fa fa-minus" aria-hidden="true"></i>
							</div>

							<div id="preg4" class="collapse">
								<div class="basicrow allpads bordsdef text-justify text-terms">
									4.1. Netflix le otorga al cliente una prueba gratis de sus servicios.
									4.2. El periodo de prueba gratis del servicio tendrá una duración de un mes.
									4.3. Netflix realiza validaciones al momento de la suscripción para determinar si el cliente es elegible para obtener la prueba gratis.
									4.4. Netflix se reserva el derecho de limitar la elegibilidad o la duración de la prueba gratis para evitar el abuso de la misma, y de revocarla si determina que el cliente no es elegible.
									4.5. Netflix puede aplicar restricciones a las combinaciones de la prueba gratis con otras ofertas.
									4.6. CLARO no es responsable de la determinación de elegibilidad del cliente que realiza Netflix ni de su decisión de limitar o cancelar la prueba gratis ya otorgada.
									4.7. Un cliente que tenga el servicio de Netflix de manera privada (no facturando con CLARO) y desee incluir este cargo en su factura de CLARO, debe cancelar su servicio actual y reactivar su membresía por Mi Claro. Este cliente no será elegible para la prueba gratis.
									4.8. Al concluir el mes de prueba gratis, el cliente recibirá el primer cargo mensual de la membresía de Netflix y esta comenzará a ser renovada automáticamente mes a mes, a menos que el cliente la cancele antes de que termine el periodo de prueba gratis.
									4.9. Para conocer la fecha de finalización del periodo de prueba gratis, el cliente debe visitar el sitio web de Netflix y acceder a su cuenta.
								</div>
							</div>
						</div>

						<div class="basicrow m-top">
							<div data-toggle="collapse" data-target="#preg5" class="preg-f">
								5. Mensualidades y Cargos

								<i class="fa fa-plus" aria-hidden="true"></i>

								<i class="fa fa-minus" aria-hidden="true"></i>
							</div>

							<div id="preg5" class="collapse">
								<div class="basicrow allpads bordsdef text-justify text-terms">
									5.1. El cliente acepta y autoriza a CLARO a realizar el cargo/ monto del plan seleccionado de NETFLIX en su factura de CLARO y se compromete a pagar la misma en o antes de su fecha de vencimiento.
									5.2. Al momento de realizar el cargo, la cuenta no puede estar suspendida, con balances en atrasos o cancelada. De no cumplir con alguna de estas condiciones, el cargo no podrá ser procesado y Netflix podría suspender el acceso al servicio por parte del cliente.
								</div>
							</div>
						</div>

						<div class="basicrow m-top">
							<div data-toggle="collapse" data-target="#preg6" class="preg-f">
								6. Facturación

								<i class="fa fa-plus" aria-hidden="true"></i>

								<i class="fa fa-minus" aria-hidden="true"></i>
							</div>

							<div id="preg6" class="collapse">
								<div class="basicrow allpads bordsdef text-justify text-terms">
									6.1. Netflix cobrará su servicio mensualmente y de manera automática en el día calendario correspondiente al comienzo de la membresía; no necesariamente corresponderá al ciclo de facturación de Claro.
									6.2. La fecha de cobro por parte de Netflix podría cambiar en ciertos casos.
									6.3. Para conocer la fecha de su próximo pago de Netflix, el cliente debe visitar el sitio web de Netflix y acceder a su cuenta.
									6.4. Netflix cobrará los cargos de membresía del mes en una sola transacción.
									6.5. Netflix es un servicio prepago por lo que no se crearán cargos de prorrateos como parte de la activación o cancelación del servicio.
									6.6. La membresía aparecerá en la factura de CLARO, con la siguiente descripción NETFLIX.COM
									6.7. CLARO podrá realizar gestiones de cobro por el monto facturado por el cargo de Netflix.
								</div>
							</div>
						</div>

						<div class="basicrow m-top">
							<div data-toggle="collapse" data-target="#preg7" class="preg-f">
								7. Reembolsos

								<i class="fa fa-plus" aria-hidden="true"></i>

								<i class="fa fa-minus" aria-hidden="true"></i>
							</div>

							<div id="preg7" class="collapse">
								<div class="basicrow allpads bordsdef text-justify text-terms">
									7.1. Netflix no otorga reembolsos de los pagos recibidos ni brinda créditos por periodos de servicio utilizados parcialmente.
									7.1.1. Si el cliente cancela la membresía, continuará teniendo acceso al servicio de Netflix hasta que culmine el ciclo de facturación corriente.
									7.2. CLARO no otorga créditos ni reembolsos de los pagos recibidos por la membresía de Netflix.
								</div>
							</div>
						</div>

						<div class="basicrow m-top">
							<div data-toggle="collapse" data-target="#preg8" class="preg-f">
								8. Cambios en precio y planes de Netflix

								<i class="fa fa-plus" aria-hidden="true"></i>

								<i class="fa fa-minus" aria-hidden="true"></i>
							</div>

							<div id="preg8" class="collapse">
								<div class="basicrow allpads bordsdef text-justify text-terms">
									8.1. Netflix se reserva el derecho a modificar el contenido y precios de los planes de suscripción en cualquier momento. Estos cambios serán efectivos una vez el cliente sea notificado por parte de Netflix.
									8.2. CLARO no se hace responsable por cambios en el contenido y precios de los planes de suscripción que realice Netflix.
									8.3. CLARO no se hace responsable de notificarle al cliente si Netflix realiza algún cambio en el contenido y precios de sus planes de suscripción.
								</div>
							</div>
						</div>

						<div class="basicrow m-top">
							<div data-toggle="collapse" data-target="#preg9" class="preg-f">
								9. Consumo de Datos

								<i class="fa fa-plus" aria-hidden="true"></i>

								<i class="fa fa-minus" aria-hidden="true"></i>
							</div>

							<div id="preg9" class="collapse">
								<div class="basicrow allpads bordsdef text-justify text-terms">
									9.1. CLARO no se hace responsable:
									9.1.1. Si la velocidad del Internet es menor a la recomendada por Netflix.
									9.1.2. Por el exceso de consumo de datos por concepto de streaming.
								</div>
							</div>
						</div>

						<div class="basicrow m-top">
							<div data-toggle="collapse" data-target="#preg10" class="preg-f">
								10. Averías e interrupción de servicios de Netflix

								<i class="fa fa-plus" aria-hidden="true"></i>

								<i class="fa fa-minus" aria-hidden="true"></i>
							</div>

							<div id="preg10" class="collapse">
								<div class="basicrow allpads bordsdef text-justify text-terms">
									10.1. El cliente debe tener acceso a Internet y a un dispositivo listo para Netflix para poder utilizar el servicio.
									10.2. Netflix ofrece sus contenidos, software asociados y cualquier otra característica y funcionalidad de sus servicios en el estado en el que se encuentran, con todas sus fallas y sin garantías. Netflix no manifiesta ni garantiza que sus servicios podrán ser utilizados sin interrupciones o sin errores.
									10.3. El cliente entiende y acepta que la membresía de Netflix es un servicio de transmisión de datos (streaming) que podría verse interrumpido por variedad de razones, entre ellas, los eventos atmosféricos. CLARO no se hace responsable por la interrupción de servicios de Netflix debido a razones que están fuera de su control.
									10.4. CLARO no se hace responsable por la interrupción de servicios de Netflix debido averías por parte de Netflix.
									10.5. CLARO no se hace responsable por la interrupción de servicios de Netflix debido averías por parte del proveedor de Internet del cliente.
									10.6. CLARO no se hace responsable por el no acceso a los servicios de Netflix debido averías en los equipos y dispositivos del cliente.
									10.7. CLARO no realizará reembolsos ni acreditará reclamaciones por la interrupción de servicios de Netflix.
								</div>
							</div>
						</div>

						<div class="basicrow m-top">
							<div data-toggle="collapse" data-target="#preg11" class="preg-f">
								11. Cambios en la Cuenta de CLARO

								<i class="fa fa-plus" aria-hidden="true"></i>

								<i class="fa fa-minus" aria-hidden="true"></i>
							</div>

							<div id="preg11" class="collapse">
								<div class="basicrow allpads bordsdef text-justify text-terms">
									11.1. Cambios realizados en la cuenta de CLARO, tales como solicitudes de traspaso, traslados, cambios de tipo de cuenta, podrían ocasionar que la cuenta de Netflix sea cancelada.
								</div>
							</div>
						</div>

						<div class="basicrow m-top">
							<div data-toggle="collapse" data-target="#preg12" class="preg-f">
								12. Cambios o cancelaciones voluntarias en la cuenta de Netflix

								<i class="fa fa-plus" aria-hidden="true"></i>

								<i class="fa fa-minus" aria-hidden="true"></i>
							</div>

							<div id="preg12" class="collapse">
								<div class="basicrow allpads bordsdef text-justify text-terms">
									12.1. CLARO no se hace responsable de realizar cambios de planes, los mismos deben ser gestionados por el cliente a través de Netflix.
									12.2. El cliente puede cancelar su membresía de Netflix en cualquier momento, y continuará teniendo acceso al servicio hasta que culmine su ciclo de facturación mensual. Netflix y CLARO no otorgarán reembolsos ni créditos por el periodo de membresía utilizado parcialmente o por el contenido de Netflix no visto.
									12.3. El cliente debe cancelar su membresía antes de que ocurra la renovación mensual para evitar que se le factura el cargo del mes siguiente.
									12.4. Para cancelar la membresía, el cliente debe visitar el sitio web de Netflix y seguir las instrucciones indicadas.
									12.5. CLARO no se hace responsable de cancelaciones no gestionadas por el cliente y tampoco dará crédito por cancelaciones no procesadas de parte de Netflix.
								</div>
							</div>
						</div>

						<div class="basicrow m-top">
							<div data-toggle="collapse" data-target="#preg13" class="preg-f">
								13. Contraseñas y acceso a la cuenta

								<i class="fa fa-plus" aria-hidden="true"></i>

								<i class="fa fa-minus" aria-hidden="true"></i>
							</div>

							<div id="preg13" class="collapse">
								<div class="basicrow allpads bordsdef text-justify text-terms">
									13.1. El cliente que creó la cuenta de Netflix y al que se le facturan los cargos a través de CLARO tiene acceso y control sobre su cuenta de Netflix.
									13.2. CLARO no se hace responsable de cualquier actividad que ocurra en la cuenta de Netflix del cliente.
								</div>
							</div>
						</div>

						<div class="basicrow m-top">
							<div data-toggle="collapse" data-target="#preg14" class="preg-f">
								14. Suspensión de Servicio Netflix por cargo no cobrado

								<i class="fa fa-plus" aria-hidden="true"></i>

								<i class="fa fa-minus" aria-hidden="true"></i>
							</div>

							<div id="preg14" class="collapse">
								<div class="basicrow allpads bordsdef text-justify text-terms">
									14.1. Al momento de realizar el cargo, la cuenta no puede estar suspendida, con balances en atrasos o cancelada. De no cumplir con alguna de estas condiciones, el cargo no podrá ser procesado y el servicio de Netflix del cliente podría ser cancelado.
									14.2. Si no se puede realizar el cargo porque la cuenta del cliente en CLARO está suspendida, Netflix cancelará su servicio. Una vez que el cliente pague su factura de CLARO y su cuenta vuelva a estar activa, debe visitar su cuenta en Netflix y activarla.
									14.3. CLARO no es responsable de reactivar la cuenta de Netflix del cliente bajo ninguna circunstancia.
									14.4. CLARO podrá rechazar el cargo de Netflix de identificar alguna conducta fraudulenta del cliente. Esto conllevará la cancelación del servicio por parte de Netflix.
								</div>
							</div>
						</div>

						<div class="basicrow m-top">
							<div data-toggle="collapse" data-target="#preg15" class="preg-f">
								15. Reclamaciones

								<i class="fa fa-plus" aria-hidden="true"></i>

								<i class="fa fa-minus" aria-hidden="true"></i>
							</div>

							<div id="preg15" class="collapse">
								<div class="basicrow allpads bordsdef text-justify text-terms">
									15.1. CLARO no se hace responsable por reclamaciones a la facturación y/o situaciones relacionadas con la programación y averías de parte de Netflix.
									15.2. Toda reclamación relacionada con el servicio de Netflix debe ser tramitada por el cliente a través de Netflix.
									15.3. Si el cliente, por alguna razón, desea objetar el cargo de Netflix en su factura deberá hacerlo dentro de los veinte (20) días siguientes a la fecha de facturación, o en el tiempo que sea requerido de tiempo en tiempo por ley. Después de transcurrido dicho periodo, sin haber sido recibida ninguna objeción a la factura, CLARO no emitirá créditos o rembolsos, salvo que sea requerido por alguna ley o reglamento aplicable.
									15.4. El cliente deberá efectuar el pago de aquella parte de la factura que entienda correcta y/o de la cual no tenga objeción alguna. La copia del procedimiento de objeción de la Compañía puede ser revisada en www.claropr.com
									15.5. Una vez el cliente inicia el proceso de objeción de cargos de Netflix, el cargo por este servicio será detenido hasta que concluya la investigación y/o reconsideración de la objeción. Esto conllevará la cancelación del servicio por parte de Netflix. El cliente es responsable de reactivar su cuenta en Netflix una vez culmine este proceso. CLARO no es responsable de cancelar ni reactivar la membresía de Netflix.
									15.6. Con aquel cliente que presente un patrón de reclamaciones que pueda ser considerado una conducta fraudulenta, CLARO se reservará el derecho de no permitir la reactivación de la cuenta en Netflix con factura CLARO.
									15.7. Para consultas o reclamaciones sobre la factura, el cliente deberá llamar a nuestra oficina de Servicios al Cliente (787-775-0000).
								</div>
							</div>
						</div>

						<div class="basicrow m-top">
							<div data-toggle="collapse" data-target="#preg16" class="preg-f">
								16. Códigos Promocionales

								<i class="fa fa-plus" aria-hidden="true"></i>

								<i class="fa fa-minus" aria-hidden="true"></i>
							</div>

							<div id="preg16" class="collapse">
								<div class="basicrow allpads bordsdef text-justify text-terms">
									16.1. El cliente podrá recibir o ser elegible para promociones asociadas al servicio de Netflix, según sean estas descritas en materiales promocionales o informativos, en el portal de Mi Claro o en cualquier otro material promocional.
									16.2. El cliente es responsable de redimir las promociones para las cuales sea elegible a través del portal Mi Claro.
									16.3. El cliente podrá ver todas las promociones que ha redimido y el balance/crédito asociados a estas en su perfil de Netflix.
									16.4. CLARO no guarda histórico relacionado a las promociones y tarjetas de regalo redimidas por el cliente.
									16.5. CLARO no es responsable por las promociones ofrecidas por NETFLIX ni por compañías externas.
									16.6. CLARO no se hace responsable por promociones y ofertas no honradas por parte de Netflix.
								</div>
							</div>
						</div>

						<div class="basicrow m-top">
							<div data-toggle="collapse" data-target="#preg17" class="preg-f">
								17. Seguridad

								<i class="fa fa-plus" aria-hidden="true"></i>

								<i class="fa fa-minus" aria-hidden="true"></i>
							</div>

							<div id="preg17" class="collapse">
								<div class="basicrow allpads bordsdef text-justify text-terms">
									17.1. El cliente entiende y acepta que CLARO podrá cancelar su membresía de Netflix si se identifica que se ha cometido algún tipo de fraude.
								</div>
							</div>
						</div>

						<div class="basicrow m-top">
							<div data-toggle="collapse" data-target="#preg18" class="preg-f">
								18. Cambios a los Términos y Condiciones

								<i class="fa fa-plus" aria-hidden="true"></i>

								<i class="fa fa-minus" aria-hidden="true"></i>
							</div>

							<div id="preg18" class="collapse">
								<div class="basicrow allpads bordsdef text-justify text-terms">
									18.1. CLARO se reserva el derecho a realizar actualizaciones y/o modificaciones a los presentes términos y condiciones, estos podrían variar sujeto a eventos y/o promociones especiales ofrecidas por CLARO o Netflix.
								</div>
							</div>
						</div>

					</div>
				</div>

				<div class="basicrow roboto-r f-med f-black m-top-i bg-gray">
					<div class="container m-top-i m-bott">
						<div class="row m-top-i m-bott">
							<div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 text-center">
								<img width="100%" class="n-supp-icon" src="images/netflixicon4.png">
							</div>

							<div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 text-left">
								<div class="basicrow">
									<div class="row">
										<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
											<div class="basicrow f-big roboto-l">
												Cont&aacute;ctanos
											</div>
										</div>

										<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 m-top">
											<div class="basicrow f-bmed roboto-b">
												Horario de Servicio al Cliente
											</div>

											<div class="basicrow f-med line-def-i m-top-ii">
												Lunes a Viernes: 8:00 a.m - 7:00 p.m<br/>
												S&aacute;bados y Domingos: 8:00 a.m - 5:00 p.m<br/>
												D&iacute;as Feriados: 8:00 a.m - 5:00 p.m
											</div>
										</div>

										<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 m-top">
											<div class="basicrow h-mtop f-bmed roboto-b">
												Tel&eacute;fonos de Contacto
											</div>

											<div class="basicrow f-med line-def-i m-top-ii">
													Servicio al Cliente: <a href="tel:7877750000">787-775-0000</a><br/>
													&oacute; Marcando <a href="tel:*611">&#42;611</a> desde tu tel&eacute;fono celular.
												</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>

		</div>

		<% include footer %>

	</div>

</script>
