<script type="text/template" id="profile_update_username">

	<div id="wrapper" class="appsize">

		<div class="allcont logsize">

			<% include header_help %>

			<div class="basicrow mbott-i">
				<div class="container">
					<div class="basicrow f-black roboto-r f-reg m-top-ii text-center">
						<div class="shortcont">

							<div class="updt-textcont roboto-r f-black">
								<img class="advrt-icn" src="images/icono_advertencia.png" width="100%">

								<div class="basicrow f-big roboto-b">Actualiza tu Usuario y Contrase&ntilde;a</div>

								<div class="basicrow m-top-ii">Estamos aplicando cambios que nos ayudar&aacute;n a unificar nuestros portales y mejorar tu experiencia de acceso.</div>
							</div>

							<div class="basicrow m-top-i">
								<div class="logline full"></div>
							</div>

							<div class="basicrow m-top-i">
								Ahora podr&aacute;s ingresar al portal Mi Claro o a la aplicaci&oacute;n m&oacute;vil Mi Claro PR App con un correo electr&oacute;nico o n&uacute;mero de tel&eacute;fono.
							</div>

							<div class="basicrow m-top-i">
								<label class="label-f">
									&#42; Usuario Actual
								</label>

								<input class="inp-f off" id="current_user">
							</div>

							<div class="basicrow m-top-i">
								<label class="label-f">
									&#42; Nuevo Usuario
								</label>

								<div class="basicrow rel">
									<div class="ortxtcnt text-center f-reg roboto-r f-black">&oacute;</div>

									<div class="row">
										<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
											<input id="user-new" class="inp-f updt-inp" type="email" placeholder="usuario@claropr.com">
										</div>

										<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
											<input id="phone_user" class="inp-f updt-inp" type="number" placeholder="N&uacute;mero de Tel&eacute;fono" disabled>
										</div>
									</div>
								</div>
							</div>

							<div class="basicrow m-top-i">
								<div class="logline full"></div>
							</div>

							<div class="basicrow f-big m-top">
								Actualiza tu Contrase&ntilde;a
							</div>

							<div class="basicrow bg-gray-u-i allpads bordsdef m-top-ii roboto-b text-justify">
								El cambio de contrase&ntilde;a s&oacute;lo es efectivo si llenas los tres campos previstos: anterior, nuevo y confirmaci&oacute;n, y presionas Guardar Cambios.
							</div>

							<div class="basicrow m-top text-justify">
								La contrase&ntilde;a debe tener entre 8 y 10 caracteres, incluyendo un m&iacute;nimo de 2 n&uacute;meros, diferenciando entre may&uacute;sculas y min&uacute;sculas.
							</div>

							<div class="basicrow m-top-i">
								<div class="basicrow">
									<label class="label-f">
										&#42; Contrase&ntilde;a Actual
									</label>

									<input id="password-old" class="inp-f" type="password" placeholder="Escribe tu contrase&ntilde;a actual">
								</div>

								<div class="basicrow m-top-i">
									<label class="label-f">
										&#42; Nueva Contrase&ntilde;a
									</label>

									<input id="password-new" type="password" placeholder="Escribe una nueva contrase&ntilde;a" class="inp-f">
								</div>

								<div class="basicrow m-top-i">
									<label class="label-f">
										&#42; Confirmar Nueva Contrase&ntilde;a
									</label>

									<input id="password-repeat" type="password" placeholder="Confirma la nueva contrase&ntilde;a" class="inp-f">
								</div>
							</div>

							<div class="basicrow m-top-i">
								<div class="logline full"></div>
							</div>

							<div class="basicrow m-top-i text-center">
								<div class="btns def-iv red centr vcenter rippleR" id="save">
									<span class="tabcell">
										Guardar Cambios&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i>
									</span>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>

		</div>

		<% include footer %>

	</div>

	<div id="popover-content-input-password" class="hide">
		<div style="background-color: #FFF;">
			<ul>
				<li class="validate-length"><img src="images/accept.png" class="hide img-accept"/><img src="images/cancel.png" class="img-cancel" /> Debe tener entre 8 y 15 caracteres.</li>
				<li class="validate-lower"><img src="images/accept.png" class="hide img-accept"/><img src="images/cancel.png" class="img-cancel"/> Al menos una letra min&uacute;scula.</li>
				<li class="validate-upper"><img src="images/accept.png" class="hide img-accept"/><img src="images/cancel.png" class="img-cancel"/> Al menos una letra may&uacute;scula .</li>
				<li class="validate-number"><img src="images/accept.png" class="hide img-accept"/><img src="images/cancel.png" class="img-cancel"/> Al menos 2 n&uacute;meros </li>
				<li class="validate-character"><img src="images/accept.png" class="hide img-accept"/><img src="images/cancel.png" class="img-cancel"/> No est&aacute; permitido ning&uacute;n car&aacute;cter especial o no alfanum&eacute;rico. </li>
			</ul>
		</div>
	</div>

</script>