<script type="text/template" id="purchase_additional_service">

	<div id="wrapper" class="appsize">

		<div class="popupbg" style="display: none">
			<div class="popupcont">
				<div class="basicrow f-black f-mildt roboto-m">
					T&eacute;rminos y Condiciones
				</div>

				<div class="basicrow m-top">
					<div class="termgbg">
						<div class="termr-t">
							Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.<br/> <br/>


							Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.<br/> <br/>

							Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
						</div>
					</div>
				</div>

				<div class="basicrow text-center m-top-i lessm">
					<div id="close-terms" class="btns def-i red centr vcenter rippleR">
						<span class="tabcell">
							Cerrar&nbsp;&nbsp;<i class="fa fa-times" aria-hidden="true"></i>
						</span>
					</div>
				</div>
			</div>
		</div>

		<div class="allcont logsize">

			<% include header %>

			<% include navmenu %>

			<% include tabs %>

			<div class="basicrow m-top">
				<div class="container">
					<div class="basicr-line-i">
						<div class="fulltitle m-top-i f-btitle autodef">
							<span class="icon-dash-08"></span> Compra de Servicios de Valor Agregado
						</div>

						<div class="nroacc">
							<label class="label-r sidenmbr vcenter">
								<span class="tabcell">
									N&uacute;mero de Cuenta
								</span>
							</label>

							<select class="sel-f sidesel" id="select-account">
								<% _.each(accounts, function(value, index) { %>
								<option value="<%= value.Account %>"  <%= value.Account==selectedAccount.Account?'selected="selected"':'' %> ><%= value.Account %></option>
								<% }); %>
							</select>
						</div>
					</div>
				</div>
			</div>

			<div class="basicrow mbott m-top-i">
				<div class="container">

					<div class="basicrow mbott bg-gray allpads bg-gray-u f-reg roboto-r f-black text-justify">
						Selecciona el <span class="roboto-b">n&uacute;mero de cuenta y n&uacute;mero de suscriptor</span> a la que deseas que se le aplique la compra.
					</div>

					<div class="autowcont notopbrd list-subscriber">

						<% _.each(subscribers, function(subscriberObj, subscriberIndex) { %>

						<div data-toggle="collapse" data-target="#subscriber<%= subscriberIndex %>" class="digs-box vcenter select-subscriber" data-index="<%= subscriberIndex %>" data-subscriber="<%= subscriberObj.subscriberNumberField %>">
							<div class="tabcell">
								<div class="autorow pull-left">
									<span class="roboto-l"><%= typeOfTelephony(subscriberObj.productTypeField) %></span> <span class="roboto-m"><%= formatNumber(subscriberObj.subscriberNumberField) %></span>
								</div>

								<div class="autorow pull-right">
									<i class="fa fa-minus" aria-hidden="true"></i>

									<i class="fa fa-plus" aria-hidden="true"></i>
								</div>
							</div>
						</div>

						<div id="subscriber<%= subscriberIndex %>" class="collapse">

							<div class="basicrow tabtopb f-black roboto-r f-reg">
								<div class="basicrow f-big">
									Planes de Servicios de Valor Agregado
								</div>
							</div>


							<div id="myCarousel2" class="basicrow carousel slide visible-xs" data-interval="false" data-ride="carousel2">
								<!-- Indicators -->
								<ol class="carousel-indicators" style="display: none;">
									<li data-target="#myCarousel2" data-slide-to="0" class="active"></li>
									<li data-target="#myCarousel2" data-slide-to="1"></li>
									<li data-target="#myCarousel2" data-slide-to="2"></li>
								</ol>

								<!-- Wrapper for slides -->
								<div class="carousel-inner">
									<div class="item active">
										<div class="plansondisps">
											<div class="row">
												<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
													<div class="basicrow">
														<div class="plandisptitle">
															Claro Residencia
														</div>

														<div class="plandispcont">
															<div class="basicrow roboto-r text-center">
																Al Mes<br/>
																<span class="f-big roboto-b">
																			&#36;4.50
																		</span>
															</div>

															<div class="basicrow text-center m-top">
																<div class="servs-plans">
																	<div class="basicrow">
																		<a href="#" class="btns red vcenter">
																					<span class="tabcell">
																						Comprar&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i>
																					</span>
																		</a>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>

									<div class="item">
										<div class="plansondisps">
											<div class="row">
												<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
													<div class="basicrow">
														<div class="plandisptitle">
															Claro Rescate
														</div>

														<div class="plandispcont">
															<div class="basicrow roboto-r text-center">
																Al Mes<br/>
																<span class="f-big roboto-b">
																			&#36;4.95
																		</span>
															</div>

															<div class="basicrow text-center m-top">
																<div class="servs-plans">
																	<div class="basicrow">
																		<a href="#" class="btns red vcenter">
																					<span class="tabcell">
																						Comprar&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i>
																					</span>
																		</a>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>

									<div class="item">
										<div class="plansondisps">
											<div class="row">
												<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
													<div class="basicrow">
														<div class="plandisptitle">
															Claro Protecci&oacute;n M&oacute;vil + Cambio de Equipo
														</div>

														<div class="plandispcont">
															<div class="basicrow roboto-r text-center">
																Al Mes<br/>
																<span class="f-big roboto-b">
																			&#36;12.99
																		</span>
															</div>

															<div class="basicrow text-center m-top">
																<div class="servs-plans">
																	<div class="basicrow">
																		<a href="#" class="btns red vcenter">
																					<span class="tabcell">
																						Comprar&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i>
																					</span>
																		</a>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>


								<!-- Left and right controls -->
								<a class="left carousel-control" href="#myCarousel2" data-slide="prev">
								  <span class="glyphicon glyphicon-chevron-left">
									<i class="fa fa-angle-left" aria-hidden="true"></i>
								  </span>
								</a>
								<a class="right carousel-control" href="#myCarousel2" data-slide="next">
								  <span class="glyphicon glyphicon-chevron-right">
									<i class="fa fa-angle-right" aria-hidden="true"></i>
								  </span>
								</a>
							</div>

							<div class="basicrow topbord-i">
								<div class="basicrow m-top m-bott text-center">
									<a href="#" class="linkdefs">
										Ver T&eacute;rminos y Condiciones&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i>
									</a>
								</div>
							</div>

						</div>

						<% });  %>

					</div>
				</div>
			</div>
		</div>

		<% include footer %>

	</div>

</script>
