<script type="text/template" id="signin_step_3">

	<div id="wrapper" class="appsize">

		<div class="allcont logsize">

			<div class="basicrow">
				<div class="container">
					<div class="basicrow mbott text-center">
						<div class="shortcont">
							<div class="basicrow m-top">
								<div class="basicrow f-btitle text-center">
									<div class="basicrow">
										<img width="100%" class="mc-icon last" src="images/reg-c-icon.png">
										Escoja su contrase&ntilde;a de acceso
									</div>
								</div>
							</div>

							<div class="basicrow m-top f-reg f-black roboto-r text-justify">
								La contrase&ntilde;a de acceso es la clave con la que podr&aacute; acceder a manejar su cuenta de servicios en Claro
							</div>

							<div class="basicrow m-top-i">
								<div class="basicrow">
									<input id="password" type="password" placeholder="Contrase&ntilde;a" class="inp-f">
								</div>
							</div>

							<div class="basicrow m-top-i">
								<div class="basicrow">
									<input id="password_repeat" type="password" placeholder="Confirmar Contrase&ntilde;a" class="inp-f">
								</div>
							</div>

							<div class="basicrow f-black m-top roboto-r">
								<div class="basicrow f-lmini roboto-b">
									Requerimientos de contrase&ntilde;a:
								</div>

								<div class="basicrow">
									<ul class="redb">
										<li id="p1">Debe tener entre 8 y 15 caracteres</li>

										<li id="p2">Al menos una letra min&uacute;scula</li>

										<li id="p3">Al menos una letra may&uacute;scula</li>

										<li id="p4">Al menos 2 n&uacute;meros</li>

										<li id="p5">No est&aacute; permitido ning&uacute;n car&aacute;cter especial o no alfanum&eacute;rico</li>

										<li id="p6">Las contrase&ntilde;as deben coincidir</li>
									</ul>
								</div>
							</div>

							<div class="basicrow m-top-i">
								<div id="btn-validate" class="btns vcenter gray">
									<div class="tabcell">
										Continuar
									</div>
								</div>
							</div>

							<div class="basicrow m-top-i">
								<div class="logline full"></div>
							</div>

							<div class="basicrow text-center m-top-i">
								<a id="btn-login" class="linkdefs">Volver al inicio de sesi&oacute;n&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>

		<% include footer %>

	</div>

</script>