<script type="text/template" id="signin_step_2">

	<div id="wrapper" class="appsize">

		<div class="popupbg" style="display: none">
			<div class="popupcont">
				<div class="basicrow f-black f-mildt roboto-m">
					T&eacute;rminos y Condiciones
				</div>

				<div class="basicrow m-top">
					<div class="termgbg">
						<div class="termr-t">
							Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.<br/> <br/>


							Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.<br/> <br/>

							Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
						</div>
					</div>
				</div>

				<div class="basicrow text-center m-top-i lessm">
					<div id="close-terms" class="btns def-i red centr vcenter rippleR">
						<span class="tabcell">
							Cerrar&nbsp;&nbsp;<i class="fa fa-times" aria-hidden="true"></i>
						</span>
					</div>
				</div>
			</div>
		</div>

		<div class="allcont logsize">

			<div class="basicrow mbott">
				<div class="container">
					<div class="row">
						<div class="col-xs-12 col-sm-8 col-md-8 col-lg-4 col-lg-offset-4 col-md-offset-2 col-sm-offset-2 m-top-i">
							<div class="basicrow f-lsemi roboto-r text-center">
								<div class="basicrow m-top-i">
									<img width="100%" class="mc-icon" src="images/reg-a-icon.png">
									Registro
								</div>

								<div class="basicrow m-top-ii">
									<div class="logline"></div>
								</div>
							</div>

							<div class="basicrow m-top-i">
								<div class="basicrow rel">
									<img class="q-t-pay tooltip-pin" data-toggle="popover" data-html="true" data-content="PIN a tu correo electrónico." data-placement="bottom" width="100%" src="images/tooltip1.png">
									<input id="code" type="password" style="-webkit-text-security:disc;" placeholder="Código de confirmación" class="inp-f">
									<div class="basicrow m-top-u f-reg f-black roboto-r">
										&#191;No has recibido el c&oacute;digo de seguridad&#63; <a id="btn-resend" class="linkdefs">Reenviar</a>
									</div>
								</div>
							</div>

							<% if (!isPrepago) { %>
							<div class="basicrow m-top-i">
								<div class="basicrow">
									<input id="ssn" type="number" style="-webkit-text-security:disc;" placeholder="4 &uacute;ltimos de SSN" class="inp-f">
								</div>
							</div>
							<% } %>

							<div class="basicrow m-top-i">
								<div class="basicrow">
									<input id="email" type="email" placeholder="Correo Electr&oacute;nico" class="inp-f">
								</div>
							</div>

							<div class="basicrow text-center m-top-i">
								<a id="link-terms" class="linkdefs">T&eacute;rminos y Condiciones</a><br/>
								<div>
									<input id="checkbox-terms" type="checkbox" style="float: left">
									<div id="container_text-terms"> He le&iacute;do, entiendo y acepto estos t&eacute;rminos y condiciones&nbsp;&nbsp;</div>
								</div>
							</div>

							<div class="basicrow m-top-i">
								<div id="btn-validate" class="btns gray vcenter">
									<span class="tabcell">
										Continuar&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i>
									</span>
								</div>
							</div>

							<div class="basicrow m-top-i">
								<div class="logline full"></div>
							</div>

							<div class="basicrow text-center m-top-i">
								<a id="btn-login" class="linkdefs">Volver al inicio de sesi&oacute;n&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<% include footer %>

	</div>

</script>