<script type="text/template" id="success_report">

    <div id="wrapper" class="appsize">

        <div class="allcont logsize">

            <% include header_help %>

            <div class="basicrow m-top">
                <div class="container">
                    <div class="basicrow">
                        <div class="fulltitle m-top-i f-btitle autodef">
                            <span class="icon-dash-13"></span> <%= title %>
                        </div>
                    </div>
                </div>
            </div>

            <div class="basicrow mbott m-top-ii">
                <div class="container">
                    <div class="autowcont allpads">
                        <div class="row allpads f-reg roboto-r f-black">

                            <div class="basicrow allpads f-reg roboto-r f-black">
                                <div class="basicrow text-center m-top-u">
                                    <div class="basicrow">
                                        Reporte Enviado
                                    </div>

                                    <div class="basicrow roboto-b m-top">
                                        Gracias. Tu mensaje ha sido enviado.
                                    </div>
                                </div>

                                <div class="basicrow m-top-i">
                                    <div class="logline full"></div>
                                </div>

                                <div class="basicrow m-top">
                                    <div id="btn-continue" class="btns def-i red centr vcenter rippleR">
										<span class="tabcell">
											Ok
										</span>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</script>