/*
 
 CSS GENERAL
 Theme Name: Mi Claro App
 Theme Description: Mi Claro App
 Version: 2.0
 Authors: FA
 
 */

/* --- ELEMENT reset -------------------------------------------------*/

body,h1,h2,h3,h4,h5,p,img,fieldset,input,table {
    margin: 0;
    padding: 0;
    border: 0;
    overflow-x: hidden;
}

h1 span,h2 span,h3 span {
    display: none;
}

em {
    font-style: normal;
}

ul, menu, dir {
    -webkit-padding-start: 17px;
}

li {
    margin-top: 15px;
}

/* --- CHARSET definition-------------------------------------------------*/

@CHARSET "UTF-8";

/* --- BASIC definition -----------------------------------------------*/

html,body {
    background-color: #FFFFFF;
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #666;
}

/*
 overflow-y: none;
 padding-top: constant(safe-area-inset-top);
 padding-top: env(safe-area-inset-top);
 padding-bottom: constant(safe-area-inset-bottom);
 padding-bottom: env(safe-area-inset-bottom);
*/

* {
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}

input, textarea /*.contenteditable?*/ {
    -webkit-touch-callout:default;
    -webkit-user-select:text;
    -moz-user-select:text;
    -ms-user-select:text;
    user-select:text;
}

/* --- FONT definition -----------------------------------------------*/

@font-face {
    font-family: "AvenirLT-Light";
    src:url("../fonts/AvenirLT-Light.eot");
    src:url("../fonts/AvenirLT-Light.eot?#iefix") format("embedded-opentype"),
    url("../fonts/AvenirLT-Light.woff") format("woff"),
    url("../fonts/AvenirLT-Light.ttf") format("truetype"),
    url("../fonts/AvenirLT-Light.svg#AvenirLT-Light") format("svg");
    font-weight: normal;
    font-style: normal;
    
}

@font-face {
    font-family: "din-bold-webfont";
    src:url("../fonts/din-bold-webfont.eot");
    src:url("../fonts/din-bold-webfont.eot?#iefix") format("embedded-opentype"),
    url("../fonts/din-bold-webfont.woff") format("woff"),
    url("../fonts/din-bold-webfont.ttf") format("truetype"),
    url("../fonts/din-bold-webfont.svg#din-bold-webfont") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "din-regu-webfont";
    src:url("../fonts/din-regu-webfont.eot");
    src:url("../fonts/din-regu-webfont.eot?#iefix") format("embedded-opentype"),
    url("../fonts/din-regu-webfont.woff") format("woff"),
    url("../fonts/din-regu-webfont.ttf") format("truetype"),
    url("../fonts/din-regu-webfont.svg#din-regu-webfont") format("svg");
    font-weight: normal;
    font-style: normal;
}

.avenir-l {
    font-family: "AvenirLT-Light";
}

.din-b {
    font-family: "din-bold-webfont";
}

.din-r {
    font-family: "din-regu-webfont";
}

.nombre-cap {
    text-transform: capitalize;
}
/* --- FONT SIZE definition -----------------------------------------------*/

.f-small {
    font-size: 11px;
}

.f-little {
    font-size: 12px;
}

.f-reg {
    font-size: 14px;
}

.f-lmed {
    font-size: 15px;
}

.f-med {
    font-size: 16px;
}

.f-mini-bigger {
    font-size: 18px;
}

.f-medium-mini {
    font-size: 20px;
}

.f-medium {
    font-size: 24px;
}

.f-medium-med {
    font-size: 28px;
}

.f-big {
    font-size: 30px;
}

.f-big-m {
    font-size: 36px;
}

/* --- FONT Style definition -----------------------------------------------*/

.f-bold {
    font-weight: bold;
}

/* --- FONT COLOR definition -----------------------------------------------*/

.f-white {
    color: #FFFFFF;
}

.f-black {
    color: #000000;
}

.f-red {
    color: #d52b1e;
}

.f-gray {
    color: #878787;
}

.f-dgray {
    color: #707070;
}

/* --- GENERAL definition -------------------------------------------------*/

.switchside-ii,
.switchside-i,
.switchcont,
.ntf-ii,
.ntf-i,
.notifcont,
.rclick,
.spc-i,
.spc-ii,
.spc-iii,
.planspc,
.consmpt-in,
.consmpt-yellow,
.consmpt-green,
.consmpt-bar,
.cons-i,
.cons-bar,
.snt-i,
.snt-ii,
.infsent,
textarea.cdef,
.giftban,
.rstep,
.btnspace,
.phonespace,
.contspace,
.autobar,
.bg-white,
.phonebar,
.lineb,
.sectinbar,
.sectbar,
.sect-b,
.sect-full,
.sect-a,
.halfbar,
.infbar,
.theight,
.big-bal,
.stopfoot-i,
.stopfoot,
.subtitle,
.selln,
.w-cont,
.headbar,
.footbar,
.g-btn,
.r-btn,
.transparent-btn,
.autocont,
.inpln,
.introbg,
.padding-alert,
.m-error,
.basicrow {
    width: 100%;
    height: auto;
    float: left;
    margin: 0;
}

.vcenter {
    display: table!important;
    height: 100%;
}

.tabcell {
    display: table-cell!important;
    vertical-align: middle;
}

.tabcell.bottom {
    vertical-align: bottom;
}

a.cdef  {
    outline: none;
    text-decoration: underline;
    color: #d52b1e!important;
    font-weight: bold;
}


a.cdef:hover  {
    text-decoration: none;
}


#maincont,
.ui-page-active {
    width: 100%;
    height: 100%;
    padding-bottom: 45px;
}

/* --- SPLASH definition -------------------------------------------------*/

.introbg {
    height: 100%;
    background-color: #d52b1e;
}

.splogo {
    width: 558px;
    height: 131px;
    margin: 0 auto;
    display: block;
}

/* --- LOGIN definition -------------------------------------------------*/

.l-logo {
    width: 478px;
    height: 118px;
    margin: 0 auto;
    display: block;
}

.m-top {
    margin-top: 20px;
}

.m-top-i {
    margin-top: 30px;
}

.m-top-ii {
    margin-top: 10px;
}

.selln,
.inpln {
    height: 37px;
    border: 0;
    background-color: transparent;
    padding: 10px 5px;
}

.selln,
.inpln {
    border-bottom: 1px solid #d7d7d7;
}

.selln {
    padding: 3px 0px;
    background-size: auto 40%;
    background-image: url('../images/arrow-i.png');
    background-repeat: no-repeat;
    background-position: center right;
    cursor: pointer;
    margin-top: 6px;
}

select.selln {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.basicrow.rel {
    position: relative;
}

.inpln.inf {
    padding-right: 27px;
}

.inficon {
    width: 18px;
    height: 18px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 7px;
    margin: auto;
    cursor: pointer;
}

.autocont {
    width: auto;
    float: none;
}

.g-btn,
.r-btn,
.transparent-btn {
    height: 38px;
    background-color: #d52b1e;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-bottom: 2px solid #901a11;
    cursor: pointer;
    margin-top: 13px;
}

.transparent-btn {
    background-color: transparent;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border: 0 solid transparent;
    margin-bottom: 13px;
}

.g-btn {
    background-color: #adafaf;
    border-bottom: 2px solid #717373;
}

.g-btn:hover,
.r-btn:hover {
    border: 0;
    transform: translateY(2px);
    vertical-align:top;
}

.w-cont,
.headbar,
.footbar {
    height: 51px;
    background-color: #d52b1e;
    cursor: pointer;
}

.footbar {
    position: absolute;
    bottom: 0;
    left: 0;
}

.footothers {
    display: block;
}

.footiphoneX {
    display: none;
}

/* iphone X and iphone Xs */
@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (-webkit-device-pixel-ratio: 3)  and (orientation : portrait) {
    .footothers {
        display: none;
    }
    .footiphoneX {
        display: block;
    }
}

/* iphone Xr TEST*/
@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (-webkit-device-pixel-ratio: 2)  and (orientation : portrait) {
    .footothers {
        display: none;
    }
    .footiphoneX {
        display: block;
    }
}

/* iphone Xr */
@media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (-webkit-device-pixel-ratio: 2)  and (orientation : portrait) {
    .footothers {
        display: none;
    }
    .footiphoneX {
        display: block;
    }
}

/* iphone Xs Max */
@media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (-webkit-device-pixel-ratio: 3)  and (orientation : portrait) {
    .footothers {
        display: none;
    }
    .footiphoneX {
        display: block;
    }
}

.stopfoot {
    padding-bottom: 71px;
}

.stopfoot-i {
    padding-bottom: 50px;
}

.qs-icon {
    width: 18px;
    height: 18px;
    display: inline-block;
    margin-left: 3px;
    cursor: pointer;
}

/* --- HOME definition -------------------------------------------------*/

.headbar {
    margin: 0;
    cursor: auto;
    position: relative;
}

@media only screen and (orientation : portrait){
    .headbar {
        padding-top: 15px; /* fixed header for ios version */
    }
}

@media only screen and (orientation : landscape){
f    .menubar {
        padding-top: -15px; 
        /* fixed header for ios version */
    }
}

/* iphone X and iphone Xs*/
@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (-webkit-device-pixel-ratio: 3)  and (orientation : portrait) {
    .menubar {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
        color: #666;
        overflow-y: none;
        height: 85px !important;
        padding-top: 35px;
    }
}

/* iphone Xr TEST*/
@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (-webkit-device-pixel-ratio: 2)  and (orientation : portrait) {
    .menubar {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
        color: #666;
        overflow-y: none;
        height: 85px !important;
        padding-top: 35px;
    }
}

/* iphone Xr */
@media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (-webkit-device-pixel-ratio: 2)  and (orientation : portrait) {
    .menubar {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
        color: #666;
        overflow-y: none;
        height: 85px !important;
        padding-top: 35px;
    }
}

/* iphone Xs Max */
@media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (-webkit-device-pixel-ratio: 3)  and (orientation : portrait) {
    .menubar {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
        color: #666;
        overflow-y: none;
        height: 85px;
        padding-top: 35px;
        
    }
}

.chaticon {
    width: 26px;
    height: 26px;
    margin: 6px auto;
    display: block;
}

.chaticon {
    margin-bottom: 0;
}

/* iphone X and Xs */
@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (-webkit-device-pixel-ratio: 3)  and (orientation : portrait) {
    .chaticon {
        display: inline;
    }
}

/* iphone Xr TEST */
@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (-webkit-device-pixel-ratio: 2)  and (orientation : portrait) {
    .chaticon {
        display: inline;
    }
}

/* iphone Xr */
@media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (-webkit-device-pixel-ratio: 2)  and (orientation : portrait) {
    .chaticon {
        display: inline;
    }
}

/* iphone Xs Max */
@media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (-webkit-device-pixel-ratio: 3)  and (orientation : portrait) {
    .chaticon {
        display: inline;
    }
}


.headlogo {
    width: 109px;
    height: 33px;
    margin: 0 auto;
}

.dispicon {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 15px;
    margin: auto;
    cursor: pointer;
}

.backicon {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 15px;
    margin: auto;
    cursor: pointer;
}

.w-cont {
    cursor: auto;
    height: auto;
    padding: 12px 0;
    margin: 0;
}

.container.rel {
    height: 100%;
    position: relative;
}

.container.norel {
    height: 100%;
}

.subtitle {
    height: 58px;
    background-color: #ececec;
    border-top: 1px solid #d6d6d6;
    border-bottom: 1px solid #d6d6d6;
}

.subtitle.ntop {
    border: 0;
}

#wrapper {
    min-height:100%;
    position:relative;
    float: left;
    width: 100%;
}

.big-s {
    height: 60px;
    font-size: 74px;
    display: inline-block;
}

.tmed-s {
    height: 60px;
    font-size: 26px;
    display: inline-block;
}

.theight {
    height: 96px;
}

.m-bottom {
    margin-bottom: 20px;
}

.m-bottom-i {
    margin-bottom: 13px;
}

.big-bal.difst,
.autobar,
.phonebar,
.sectinbar,
.sectbar,
.infbar {
    height: 50px;
    border-top: 1px solid #d6d6d6;
}

.sectbar.b-line,
.infbar.b-line {
    border-bottom: 1px solid #d6d6d6;
}

.sectbar {
    cursor: pointer;
}

.big-bal.difst,
.autobar,
.phonebar:hover,
.sectinbar,
.sectbar:hover {
    background-color: #f4f4f4;
}

.big-bal.difst {
    height: auto;
}

.phonebar,
.sectinbar {
    cursor: pointer;
}

.sectinbar:hover {
    background-color: #ececec;
}

.autobar {
    height: auto;
    padding: 20px 0;
}

.phonebar {
    height: 75px;
}

.halfbar {
    width: 50%;
    height: 100%;
}

.mntinp {
    width: 96px;
    height: 30px;
    float: right;
    background-color: #f4f4f4;
    border: 1px solid #d6d6d6;
    padding: 5px 10px;
}

.sect-a {
    width: 45px;
    height: 100%;
}

.sect-b {
    width: 80%;
    height: 100%;
}

.sect-full {
    height: 100%;
}

.sect-icon {
    width: 22px;
    height: 22px;
    float: left;
}

.sectarrow {
    width: 13px;
    height: 13px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 15px;
    margin: auto;
}

.sectbar.mon #arrow {
    display: none;
    visibility: hidden;
}

#arrow2 {
    display: none;
    visibility: hidden;
}

.sectbar.mon #arrow2 {
    display: inline;
    visibility: visible;
}

/* --- DEVICES definition -------------------------------------------------*/

#plus {
    font-family: 'Times';
    font-weight: lighter;
}

.phonebar.mon #plus {
    display: none;
    visibility: hidden;
}

#minus {
    font-family: 'Times';
    font-weight: lighter;
    display: none;
    visibility: hidden;
    padding-left: 4px;
}

.phonebar.mon {
    border-left: 10px solid #d52b1e;
    background-color: #f4f4f4;
}

.phonebar.mon #minus {
    font-family: 'Times';
    font-weight: lighter;
    display: inline;
    visibility: visible;
}

.popover {
    box-shadow: none;
    font-size: 13px;
    text-align: justify;
}

.lineb {
    border-bottom: 1px solid #d6d6d6;
}

.p-sts {
    width: 35px;
    height: 35px;
    font-size: 35px;
    position: absolute;
    right: 0;
    top: 15px;
}

.phonespace {
    width: 35%;
}

.phonespace img {
    width: 117px;
    height: 186px;
    margin: 0 auto;
    display: block;
}

.contspace {
    width: 65%;
}

.btnspace {
    height: 142px;
}

.autobar.diff {
    background-color: #FFFFFF;
    padding-top: 0;
}

.autobar.diffr {
    background-color: #FFFFFF;
}

.autobar.diff-i {
    padding-top: 0;
}

.sect-full.f-lmed {
    line-height: 15px;
}

.contspace.full {
    width: 100%;
}

.subtitle.nbott {
    border-bottom: 0;
}

/* --- REGISTER definition -------------------------------------------------*/

.rstep {
    width: 50%;
    background-color: #8d0403;
    height: 42px;
    color: #d42b1e;
    position: relative;
    padding: 0 10px;
}

.rstep.on {
    background-color: #d42b1e;
    color: #FFFFFF;
}

.rarrow {
    width: 34px;
    height: 13px;
    position: absolute;
    bottom: -11px;
    left: 0;
    right: 0;
    margin: 0 auto;
}

/* --- 1GB GIFT definition -------------------------------------------------*/

.giftban {
    height: 93px;
    background-color: #ec1e24;
}

.giftban img {
    width: 337px;
    height: 93px;
    margin: 0 auto;
    display: block;
}

textarea.cdef {
    height: 150px;
    resize:none;
    border: 1px solid #d6d6d6;
    padding: 10px;
}

/* --- ACCESS BACK definition -------------------------------------------------*/

.infsent {
    height: 86px;
    border-top: 1px solid #d6d6d6;
}

.snt-i {
    width: 36px;
    height: 100%;
}

.snt-ii {
    width: 95%;
    height: 100%;
}

/* --- MY CONSUMPTION definition -------------------------------------------------*/

.cons-bar {
    height: 64px;
    background-color: #f4f4f4;
    border-top: 1px solid #d6d6d6;
}

.cons-i {
    width: 33.3%;
    height: 100%;
    background-color: #f4f4f4;
    color: #707070;
    cursor: pointer;
}

.cons-i:hover,
.cons-i.on {
    color: #d52b1e;
    border-bottom: 9px solid #d52b1e;
    padding-top: 9px;
}

.cons-box {
    width: 135px;
    height: 135px;
    margin: 0 auto;
    display: block;
    border-radius: 125px;
    -webkit-border-radius: 125px;
    -moz-border-radius: 125px;
    border: 12px solid #e4e4e4;
    margin-top: 15px;
}

.cons-box.yellow {
    border-color: #f7ca3e;
}

.cons-box .f-big-m {
    font-size: 46px;
    line-height: 46px;
}

.consmpt-in,
.consmpt-bar {
    height: 24px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    background-color: #e5e5e5;
}

.consmpt-in {
    width: 0%;
    height: 100%;
    background-color: #d52b1e;/*#85b523;*/
}

.consmpt-yellow {
    width: 0%;
    height: 100%;
    background-color: #f7ca3e;
}

.consmpt-green {
    width: 0%;
    height: 100%;
    background-color: #85b523;
}

.padding-alert {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* --- PLAN CHANGE definition -------------------------------------------------*/

.planspc {
    height: 113px;
    background-color: #f4f4f4;
    border-top: 1px solid #d6d6d6;
    color: #000000;
    cursor: pointer;
}

.planspc.dheight {
    height: 80px;
}

.planspc:hover {
    background-color: #efefef;
}

.planspc .spc-iii {
    color: #d42b1e;
}

.planspc.on {
    background-color: #d42b1e;
    color: #FFFFFF;
}

.planspc.on .spc-iii {
    color: #FFFFFF;
}

.spc-iii,
.spc-ii,
.spc-i {
    width: 10%;
    height: 100%;
}

.spc-ii {
    width: 70%;
}

.spc-ii.full {
    width: 90%;
}

.spc-iii {
    width: 20%;
}

/* --- CHAT definition -------------------------------------------------*/

.rclick {
    cursor: pointer;
}

/* --- ADD ACCOUNT definition -------------------------------------------------*/

.phonebar.star .container.rel {
    padding-left: 45px;
}

.defstar {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 10px;
    margin: auto;
}

/* --- NOTIFICATIONS definition -------------------------------------------------*/

.notifcont {
    height: 80px;
    border-top: 1px solid #d6d6d6;
}

.ntf-ii,
.ntf-i {
    width: 65%;
    height: 100%;
}

.ntf-i {
    padding-right: 5%;
}

.ntf-ii {
    width: 35%;
}

.switchcont {
    height: 33px;
}

.switchside-ii,
.switchside-i {
    width: 50%;
    height: 100%;
    background-color: #ededed;
    color: #ededed;
    cursor: pointer;
}

.switchside-i {
    border-radius: 5px 0px 0px 5px;
    -moz-border-radius: 5px 0px 0px 5px;
    -webkit-border-radius: 5px 0px 0px 5px;
}

.switchside-i:hover,
.switchside-i.on {
    background-color: #d42b1e;
    color: #FFFFFF;
}

.switchside-ii:hover,
.switchside-ii.on {
    background-color: #bcbcbc;
    color: #FFFFFF;
}

.switchside-ii {
    border-radius: 0px 5px 5px 0px;
    -moz-border-radius: 0px 5px 5px 0px;
    -webkit-border-radius: 0px 5px 5px 0px;
}

/* --- POPUPS definition -------------------------------------------------*/

.popup-bg {
    background: url(../images/popup-bg.png) repeat!important;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1000000;
}

.popcont {
    background-color: #FFFFFF;
    width: 325px;
    height: 272px;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    padding: 20px;
}

.popcont.difh {
    height: 150px;
}

/* --- SIDE MENU definition -------------------------------------------------*/

#afullbg {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1100;
    background: url(../images/popup-bg.png) repeat;
    display: none;
}

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 10000; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #FFFFFF;
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
}

.sidenav .sectbar {
    width: 250px;
}

.sidenav .sectbar .sect-b {
    width: auto;
}

.sidenav .sectbar.ntop {
    border-top: 0;
}

.sidenav .container.rel {
    width: 100%;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    -webkit-transition: margin-left .5s;
    -moz-transition: margin-left .5s;
    -o-transition: margin-left .5s;
    padding: 20px;
}

/* --- MEDIA QUERY definition -------------------------------------------------*/

@media (max-width: 768px){
    .splogo {
        width: 80%;
        height: auto;
    }
    
    .l-logo {
        width: 90%;
        height: auto;
    }
    
    .container.norel,
    .container.rel {
        width: 100%;
    }
    
    .snt-ii {
        width: 90%;
    }
    
    .container.norel.nopad {
        padding: 0;
    }
}

@media (max-width: 500px){
    .sect-a {
        width: 15%;
    }
    
    .sect-b {
        width: 85%;
    }
    
    .phonespace img {
        width: 88px;
        height: 139px;
        float: left;
    }
    
    .btnspace {
        height: 95px;
    }
    
    .popcont {
        width: 90%;
    }
    
    .spc-i {
        width: 15%;
    }
    
    .spc-ii {
        width: 60%;
    }
    
    .spc-ii.full {
        width: 85%;
    }
    
    .spc-iii {
        width: 25%;
    }
    
    .spc-ii.f-little {
        font-size: 11px;
    }
}

@media (max-width: 400px){
    .snt-i {
        width: 13%;
    }
    
    .snt-ii {
        width: 87%;
    }
    
    .spc-ii {
        width: 55%;
    }
    
    .spc-iii {
        width: 30%;
    }
    
    .ntf-i.f-reg {
        font-size: 13px;
    }
}

@media (max-width: 380px){
    
    .giftban {
        height: auto;
    }
    
    .giftban img {
        width: 100%;
        height: auto;
        float: left;
    }
}

/* --- LOADER definition -------------------------------------------------*/

#loadercont {
    width: 100%;
    height: 100%;
    float: left;
    margin: 0;
    position: relative;
}

#loadercont {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    float: none;
    display: none;
    background-image: url(../images/bg-popup.png);
}

/* --------------------------------------
 POPUP STYLES definition
 ---------------------------------------*/

.popupcont {
    background: url(../images/bg-popup.png) repeat;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

.popup-cont-a {
    background-color: #ffffff;
    border: 1px solid #0D3F86;
    width: 70%;
    height: auto;
    float: left;
    margin: 0 15%;
    padding: 20px;
    position: relative;
}

a.popup-btnclose {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 10px;
    right: 10px;
    font-weight: bold;
    color: #0D3F86;
}

a:hover .popup-btnclose {
    color: #0D3F86;
}

.popup-logo {
    width: 120px;
}

.popup-txt {
    margin: 30px 0;
}

.popupcont .btn-close {
    margin-top: 10px;
}

.invoice-due{
    padding: 2%;
    background-color: #FFF;
    border: 1px solid #8c8c8d;
    width: 47%;
    float: right;
}

.confirm-popup-txt {
    padding: 10px 0;
}

/* --- NEW CLASSES definition -------------------------------------------------*/

.phonespace.half,
.contspace.half {
    width: 50%;
}

.phnicon {
    width: 19px!important;
    height: 19px!important;
    float: right!important;
    text-align: right;
}

.cons-bar.wbg .cons-i,
.cons-bar.wbg {
    background-color: #FFFFFF;
}

.sectbar.hdef {
    height: 104px;
}

.sect-full.modrt {
    width: 75%;
}

.sect-full.modrt .f-little {
    line-height: 10px;
}

.footbar:hover {
    background-color: #c62820;
}

.autobar.nopads {
    padding: 0;
}

.sect-icon.address {
    width: 32px;
    height: 32px;
}

/* --- NEW CLASSES definition -------------------------------------------------*/

.planspc.wbg {
    background-color: #FFFFFF;
}

.planspc.wbg:hover {
    background-color: #efefef;
}

.planspc.wbg.on {
    background-color: #d42b1e;
    color: #FFFFFF;
}


/* --- MENU definition -------------------------------------------------*/

.navbar-toggle {
    float: left;
    margin-left: 15px;
}

@media (min-width: 0) {
    .navbar-toggle {
        display: block; /* force showing the toggle */
    }
}

@media (min-width: 992px) {
    body {
        padding: 0;
    }
    .navbar {
        right: auto;
        background: none;
        border: none;
    }
}

.menu-list {
    margin-top: 0;
}

/* --- NEW MENU definition -------------------------------------------------*/

.sidenav.rdef {
    left: auto;
    right: 0;
}

/* --- NEW CLASS2 definition -------------------------------------------------*/

.autocont.left {
    float: left;
}

.marg-l {
    margin-left: 14px;
}

.credcard {
    width: auto;
    height: auto;
    display: inline-block;
    margin: 0 auto;
    padding: 5px;
    cursor: pointer;
    border: 1px solid #FFFFFF;
}

.credcard.on,
.credcard:hover {
    background-color: #f6f6f6;
    border: 1px solid #d6d6d6;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.cardimg {
    width: 51px;
    height: 36px;
    float: left;
}

/* --- FIXED Select highlight -------------------------------------------------*/
select.selln:focus {
    outline:none;
}

/* --- FIXED label style -------------------------------------------------*/
label {
    font-weight: normal;
}

/* --- FIXED circle.css -------------------------------------------------*/
.c100 {
    width: 120px;
    height: 120px;
}

.footcont {
    height: 50px;
    bottom: 0;
    position: fixed !important;
    -webkit-backface-visibility: hidden;
    z-index: 99;
}

/* --- FIXED login logo -------------------------------------------------*/
.login-logo {
    margin-top: 45px;
}

.fixed-no-info {
    margin: 20px 0;
}

/* --- NEW CLASS3 definition -------------------------------------------------*/

.autobar.no-bord {
    border: 0;
}

.updateicon {
    width: 75px;
    height: 75px;
    margin: 0 auto;
    display: block;
}

.selectnote {
    width: 100%;
    height: auto;
    border-top: 1px solid #d6d6d6;
    padding: 20px 0;
    float: left;
}

.noteicon {
    width: 20%;
    float: left;
    height: auto;
}

.noteicon img {
    width: 58px;
    height: 58px;
    margin: 0 auto;
    display: block;
}

.notetext {
    width: 80%;
    float: left;
    height: auto;
}

@media (max-width: 400px){
    .noteicon {
        width: 26%;
    }
    
    .notetext {
        width: 74%;
    }
}

.bg-white{
    background:#FFF;
}

#image-device{
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.m-error{
    padding-top: 20px;
    padding-bottom: 20px;
}

/* --- FIXED switch color -------------------------------------------------*/
.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-primary {
    background: #d52b1e;
}

/*div.navmenu.navmenu-default.navmenu-fixed-right.offcanvas.in.canvas-slid*/
.appnav {
    top: 50px;
}

/* iphone X and iphone Xs */
@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (-webkit-device-pixel-ratio: 3)  and (orientation : portrait) {
    .appnav {
       top: 85px !important;
    }
}

/* iphone Xr TEST */
@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (-webkit-device-pixel-ratio: 2)  and (orientation : portrait) {
    .appnav {
        top: 85px !important;
    }
}

/* iphone Xr */
@media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (-webkit-device-pixel-ratio: 2)  and (orientation : portrait) {
    .appnav {
       top: 85px !important;
    }
}

/* iphone Xs Max */
@media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (-webkit-device-pixel-ratio: 3)  and (orientation : portrait) {
    .appnav {
       top: 85px !important;
    }
}

.title-description {
    text-transform: uppercase;
    padding: 5px;
}

/* --- NEW CLASS3 definition -------------------------------------------------*/

.autobar.no-bord {
    border: 0;
}

.updateicon {
    width: 110px;
    height: 110px;
    margin: 0 auto;
    display: block;
}

.selectnote {
    width: 100%;
    height: auto;
    border-top: 1px solid #d6d6d6;
    padding: 20px 0;
    float: left;
}

.noteicon {
    width: 20%;
    float: left;
    height: auto;
}

.noteicon img {
    width: 58px;
    height: 58px;
    margin: 0 auto;
    display: block;
}

.notetext {
    width: 80%;
    float: left;
    height: auto;
}

@media (max-width: 400px){
    .noteicon {
        width: 26%;
    }
    
    .notetext {
        width: 74%;
    }
}

/* --- QUOTA PAY definition -------------------------------------------------*/

.b-btn {
    width: 100%;
    height: auto;
    float: left;
    margin: 0;
}

.b-btn {
    height: 38px;
    background-color: #1f96ae;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-bottom: 2px solid #0e7d8e;
    cursor: pointer;
    margin-top: 13px;
}

.b-btn:hover {
    border: 0;
    transform: translateY(2px);
    vertical-align:top;
}

/* --- END QUOTA PAY definition -------------------------------------------------*/

/* --- FIXED FAILURE definition -------------------------------------------------*/

.phonebar.on {
    border-left: 10px solid #d52b1e;
    background-color: #fff;
}

.tr-step-iii,
.tr-step-ii,
.tr-step-i {
    width: 33.1%;
    background-color: #a10908;
    height: 42px;
    color: #d42b1e;
    position: relative;
    padding: 0 10px;
    float: left;
}

.tr-step-ii {
    background-color: #8f0304;
}

.tr-step-iii {
    background-color: #750303;
}

.tr-step-iii.on,
.tr-step-ii.on,
.tr-step-i.on {
    background-color: #d42b1e;
    color: #FFFFFF;
}

.tr-step-iii .rarrow,
.tr-step-ii .rarrow,
.tr-step-i .rarrow {
    display: none;
}

.tr-step-iii.on .rarrow,
.tr-step-ii.on .rarrow,
.tr-step-i.on .rarrow {
    display: inline;
}

.g-btn.no-top {
    margin-top: 0;
}

/* --- END FIXED FAILURE definition -------------------------------------------------*/

/* --- INIT GUARANTEE STATUS definition -------------------------------------------------*/

.gicon-pad {
    padding-left: 60px;
}

.gicon-pad img {
    width: 50px;
    height: 50px;
    position: absolute;
    left: 0;
    top: 5px;
}

/* --- END GUARANTEE STATUS definition -------------------------------------------------*/

/* --- INIT MY ORDERS definition -------------------------------------------------*/

.c-ftitle {
    width: 100%;
    height: 40px;
    border-top: 1px solid #d6d6d6;
    border-bottom: 1px solid #d6d6d6;
    float: left;
    color: #828282;
    text-align: center;
    font-size: 12px;
}

.c-cont {
    width: 100%;
    height: 153px;
    border-bottom: 1px solid #d6d6d6;
    float: left;
    color: #000000;
    text-align: center;
    font-size: 12px;
}

.c-side {
    width: 64%;
    height: auto;
    float: left;
    color: #000000;
    text-align: center;
    font-size: 12px;
}

.c-half-i {
    width: 40%;
    height: 40px;
    float: left;
    background-color: #f5f5f5;
}

.c-half-ii {
    width: 60%;
    height: 40px;
    float: left;
    background-color: #f5f5f5;
}

.c-half-ii {
    /* background-color: #FFFFFF; */
    border-right: 0;
    /* color: #828282; */
}

.c-div-i {
    width: 40%;
    height: 50px;
    float: left;
    background-color: #FFFFFF;   
}

.c-div-ii {
    width: 60%;
    height: 50px;
    float: left;
    background-color: #FFFFFF;   
}

.c-half-i.nob {
    border-right: 0;
}

.c-frst-u,
.c-frst {
    width: 34%;
    height: 100%;
    float: left;
    border-right: 1px solid #d6d6d6;
}

.c-frst-u {
    background-color: #f5f5f5;
}

.c-thrd,
.c-scnd {
    width: 33%;
    height: 100%;
    float: left;
    padding: 0 3px;
}

.basicrow.full-h {
    height: 100%;
}

.basicrow.b-bord {
    border-bottom: 1px solid #d6d6d6;
}

.c-side.c-side-package {
    width: 100% !important;
}

.c-frst-u.vcenter.c-subs-right {
    float: none !important;
    display: table-cell !important;
    vertical-align: middle;
    padding-left: 7px;
    padding-right: 7px;
}

.c-primary {
    display: table-cell !important;
}

.tabcell.s-number {
    display: block !important;
    vertical-align: middle;
    border-bottom: none;
    text-align: center;
    padding: 3px;
}

.c-cont.c-height {
    height: 100%!important;
}

.title-rec {
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 3px;
    padding-bottom: 3px;
}

.div-line {
    border-bottom: 1px solid #d6d6d6;
    width: 90px;
    margin-left: auto;
    margin-right: auto;
}

.cont-pack {
    width: 100%;
    height: 40px;
    border-bottom: 1px solid #d6d6d6;
    float: left;
    text-align: center;
    font-size: 12px;
    color: #000;
}

.txt-center {
    text-align: center;
}

.fblack {
    color: #000;
}


/* --- END MY ORDERS definition -------------------------------------------------*/

